<div style="width:100%;height:100%;">
    <ej-splitter id="outterSplitter" height="350" width="100%" [orientation]="orientation" [properties]="properties">
        <div>
            <div class="content">
                <h5 class="h5" style="font-weight:600;">FRENCH CITIES </h5>
            </div>
        </div>
        <ej-splitter id="innerSplitter" width="100%" [properties]="innerProperties">
            <div>
                <div class="content">
                    <h5 class="h5" style="font-weight:600;">PARIS </h5>
                    Paris, the city of lights and love - this short guide is full of ideas for how to make the most of the romanticism...
                </div>
            </div>
            <div>
                <div class="content">
                    <h5 class="h5" style="font-weight:600;">CAMEMBERT </h5>
                    The village in the Orne département of Normandy where the famous French cheese is originated from.
                </div>
            </div>
            <div>
                <div class="content">
                    <h5 class="h5" style="font-weight:600;">GRENOBLE </h5>
                    The capital city of the French Alps and a major scientific center surrounded by many ski resorts, host of the Winter Olympics
                    in 1968.
                </div>
            </div>
        </ej-splitter>
    </ej-splitter>
</div>