<?xml version="1.0"?>
<configuration>
   <system.webServer>
      <defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
         <files>      
            <clear/>     <!-- removes the existing default document list -->                
            <add value="index.html"/>     
         </files>
      </defaultDocument>   
      <staticContent>
			<remove fileExtension=".ts" />
			<mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
            <remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="font/woff" /> 
        </staticContent>  
   </system.webServer>
   
    <system.web>                                                                 
        <compilation debug="true" targetFramework="4.0" />                       
        <urlMappings enabled="true">                                             
            <add url="~/" mappedUrl="~/index.html" />                
        </urlMappings>                                                           
    </system.web>
	
</configuration>