		.treeCaption {
            padding: 5px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
        }

        .e-treeview-wrap {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .draganddrop {
            display:table;
            margin:0 auto;
        }
        .dragdrop{
           float:left;
           width:200px;
        }