.flags {
    width: 16px !important;
    background-image: url("app/content/images/tab/flags.png");
    background-repeat: no-repeat;
}

.sprite-Australia {
    background-position: 0 -2px;
}

.sprite-Germany {
    background-position: 0 -398px;
}

.sprite-India {
    background-position: -3px -462px;
}

.sprite-France {
    background-position: 0 -331px;
}

.sprite-USA {
    background-position: 0 -1121px;
}

.splClass.e-datepicker.e-calendar {
    width: 24em;
}

.date-align{
    padding: 30px 20px;   
    color: #5C5C5C;
    width:300px;
    margin: 0 auto;
}

.dtlabel{
    padding: 10px 0 0;
}
@media (max-width: 440px){
    .frame{
        width: auto !important;    
    }
}