<div class="row">
 <div class="date-align">  
	<div>   
		<label class="dtlabel">Start Date</label>
		<input id="stdate" ej-datepicker [(value)]= "dtValue1" [(minDate)]= "minDate1" [(maxDate)]= "maxDate1" [(width)]= "width" (select)= "onSelectDate1($event)" />
	</div>
	<div>
		<label class="dtlabel">End Date</label>   
		<input id="enddate" ej-datepicker [(value)]= "dtValue2" [(minDate)]= "minDate2" [(maxDate)]= "maxDate2" [(width)]= "width" (select)= "onSelectDate2($event)" />
	</div>
 </div>    
</div>