<table width="500px">
    <tr>
        <td> Radio Buttons </td>
        <td>
            <input type="radio" ej-radiobutton name="radio1" value="fresher" /> Fresher</td>
        <td>
            <input ej-radiobutton type="radio" name="radio1" value="experienced" /> Experienced</td>
    </tr>
</table>
<br /><br />
<table width="600px">
    <tr> Checkboxes </tr>
    <tr><br> </tr>
    
    <tr>
        <td>Skills</td>
        <td>
            <ej-checkbox text="HTML"></ej-checkbox></td>
        <td>
            <ej-checkbox [(checked)]="checkstatus" text="Javascript"></ej-checkbox></td>
        <td>
            <ej-checkbox text="CSS"></ej-checkbox></td>
        
    </tr>
    <tr><br> </tr>
    
    <tr>
        <td>Hobbies</td>
        <td>
            <ej-checkbox [(checked)]="checkedArray" text="Music" value="Music"></ej-checkbox></td>
        <td>
            <ej-checkbox [(checked)]="checkedArray" text="Sports" value="Sports"></ej-checkbox></td>
        <td>
            <ej-checkbox [(checked)]="checkedArray" text="Bike Riding" value="Bike Riding"></ej-checkbox></td>
        
    </tr>
</table>
