<div align="center">
    <table width="500px" align="center"> 
         <tr>
             <td> Normal</td>
             <td colspan="2">
                 <ej-togglebutton type="checkbox" id="togglebutton1" contentType="imageonly"  size="normal" defaultPrefixIcon="e-icon e-mediaplay" [toggleState]="state" activePrefixIcon="e-icon e-mediapause"></ej-togglebutton>
             </td>
         </tr>
         <tr>
             <td> Mini</td>
             <td colspan="2">
                 <ej-togglebutton type="checkbox" id="togglebutton2" contentType="textandimage" defaultText="Play" [toggleState]="state" size="mini" activeText="Pause" ></ej-togglebutton>
             </td>
         </tr>

         <tr>
             <td> Small</td>
             <td colspan="2">
                 <ej-togglebutton type="checkbox" id="togglebutton3" contentType="textandimage" defaultText="Play" [toggleState]="state" size="small" activeText="Pause" ></ej-togglebutton>
             </td>
         </tr>
         <tr>
             <td> Medium</td>
             <td colspan="2">
                 <ej-togglebutton type="checkbox" id="togglebutton4" contentType="textandimage" defaultText="Play" [toggleState]="state" size="medium" activeText="Pause" ></ej-togglebutton>
             </td>
         </tr>
         <tr>
             <td> Large</td>
             <td colspan="2">
                 <ej-togglebutton type="checkbox" id="togglebutton5" contentType="textandimage" defaultText="Play" [toggleState]="state" size="large" activeText="Pause" defaultPrefixIcon="e-icon e-mediaplay" activePrefixIcon="e-icon e-mediapause"></ej-togglebutton>
             </td>
         </tr>
     </table>
    </div>
<style>
       td{
			padding:5px;
		}
</style>