<ej-chart #accumulate id="accumulate" style="display:block;" (load)="onchartload($event)"  primaryXAxis.title.text="Date"
                primaryXAxis.valueType="datetime"
				primaryXAxis.labelFormat="dd,MMM" primaryYAxis.labelFormat='${value}'
				[primaryYAxis.range.min]="55" [primaryYAxis.range.max]="75" [primaryYAxis.range.interval]="5" [axes]="Axes"
			[zooming.enable]="true"
			[crosshair.visible]="true" 
			crosshair.type="trackball"
			(trackToolTip)="track($event)"			
			[isResponsive]="true"                         
            title.text="Accumulation Distribution Indicator"
            size.height="600"
            [legend.visible]="false">
    <e-seriescollection>
        <e-series   name='indicator'
					type='hiloopenclose'
					drawMode='both' 
					tooltip.visible="false"
					tooltip.format="#point.x#<br/>Open : $#point.open#<br/>High : $#point.high#<br/>Low : $#point.low#<br/>Close : $#point.close#<br/>" 
					[enableAnimation]="true"></e-series>
	</e-seriescollection>
	<e-chart-indicators>
	  <e-chart-indicator type="accumulationdistribution" 
					seriesName="indicator" 
					yAxisName="yaxis" 
                    fill="blue" 
					width="2"
					[tooltip.visible]="false" 
					tooltip.format="" 
				    tooltip.fill="transparent"
				    tooltip.border.color="transparent"
                    [enableAnimation]="true">
	  </e-chart-indicator>
	</e-chart-indicators>

</ej-chart>
<div class="panel-body">
   <div id="property-window" class="box wide">
   	<div class="row">                      
                        <div class="col-md-3">
                            Signal Line Stroke:
                        </div>
                       <div class="col-md-3 aligntop">
						    <input id="signalLine" ej-dropdownlist #signalLine (select)="onchange1($event)" [selectedIndex]="0" [dataSource]="['Blue', 'Yellow', 'Green','Red']" width="100%" />
                        </div>				
                    </div>
</div>
</div>
