<ej-chart #alternategridband id="alternategridband" style="display:block;" (load)="onchartload($event)" primaryXAxis.valueType="double"
                primaryXAxis.title.text="Year"
                [primaryXAxis.axisLine.visible]="false"
                [primaryXAxis.majorTickLines.visible]="false"
                [primaryXAxis.range.min]="1965" [primaryXAxis.range.max]="2010" [primaryXAxis.range.interval]="5"
                primaryXAxis.majorGridLines.color="transparent"
				primaryYAxis.title.text="Tons Per Day"
                [primaryYAxis.range.min]="0" [primaryYAxis.range.max]="18000" [primaryYAxis.range.interval]="2000"
				[primaryYAxis.axisLine.visible]="false"
                [primaryYAxis.majorTickLines.visible]="false"
				[primaryYAxis.alternateGridBand]="Alter"
				[commonSeriesOptions.enableAnimation]="true"
				[commonSeriesOptions.tooltip.visible]="true"
				commonSeriesOptions.tooltip.format="#series.name# <br/> Year: #point.x# <br/>Tons Per Day: #point.y#"	
				title.text="World Pollution Report">
    <e-seriescollection>
        <e-series name="VOC Emission by All sources" type="column" fill="#FF7F7F" [dataSource]="gridBandData1" xName="x" yName="y"></e-series>
         <e-series name="VOC Emission by Autos and Light Trucks" type="column" fill="#3E9C9C" [dataSource]="gridBandData2" xName="x" yName="y"></e-series>
    </e-seriescollection>
</ej-chart>

<div class="panel-body">
   <div id="property-window" class="box wide">
     <b>XAxis</b>
                    <br />
                    <div class="row">
                        <div class="col-md-3">                            
                            Alternate Grid Band 
                        </div>
                        <div class="col-md-4"> 
                             <input id="optXAxisChange" ej-dropdownlist #optXAxisChange (select)="onchange1($event)" [selectedIndex]="0" [dataSource]="['None', 'Even', 'Odd']" width="100%" />							
                        </div>
                        <br />
						<br />
                        <br />                       
                        <b>&nbsp;&nbsp;&nbsp;YAxis</b>
                        <br />
                        <div class="col-md-3">                           
                            Alternate Grid Band
                        </div>
                        <div class="col-md-4">
						<input id="optYAxisChange" ej-dropdownlist #optYAxisChange (select)="onchange2($event)" [selectedIndex]="0" [dataSource]="['Even', 'Odd', 'None']" width="100%" />	
                        </div>
                    </div>
 </div>
 </div>