              
<div id= "watermark" style="font-size:100px; display:none">2014</div>

<div id= "hightemp" style="display:none" align="center">
<img style="width:50px;" src="../../content/images/chart/sun_annotation.png">
<div>Highest<br/>Temperature</div>
</div>

<div id= "lowtemp" style="display:none;"align="center">
<img style="width:50px;" src="../../content/images/chart/rain_annotation.png">
<div>Lowest<br/>Temperature</div>
</div>
<ej-chart id="annotatation" style="display:block;"  primaryXAxis.title.text='Month' [primaryYAxis.range.min]="0" [primaryYAxis.range.max]="120" [primaryYAxis.range.interval]="20" primaryYAxis.title.text="Temperature"
commonSeriesOptions.type='column' [commonSeriesOptions.enableAnimation]="true" [commonSeriesOptions.tooltip.visible]="false" [annotations]="Annotation" title.text= 'Temperature flow over months' [legend.visible]="false">
    <e-seriescollection>
        <e-series [dataSource]="annotationData" xName="x" yName="y" name='India' fill="#55AAFF" marker.dataLabel.visible="true" marker.dataLabel.textPosition="middle" marker.dataLabel.font.size="14px" marker.dataLabel.font.color="white"></e-series>
    </e-seriescollection>
</ej-chart>