<div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div id="container">
				<ej-chart #bar3d id="bar3d" style="display:block;" [legend.visible]="true" (load)="onchartload($event)" [primaryXAxis.axisLine.visible]="false"  [primaryXAxis.majorGridLines.visible]="true" primaryXAxis.majorGridLines.color="#a9a9a9" [primaryXAxis.majorGridLines.opacity]="0.12" primaryYAxis.title.text="% of Employees" [primaryYAxis.majorGridLines.visible]="true" primaryYAxis.majorGridLines.color="#a9a9a9" [primaryYAxis.majorGridLines.opacity]="0.12" [commonSeriesOptions.tooltip.visible]="true" commonSeriesOptions.tooltip.format=" #series.name#  <br/>  #point.x# : #point.y#% "  [enable3D]="true" [enableRotation]="true"
			[depth]="100"
            [wallSize]="2"
            [tilt]="0"
			[rotation]="34"
            [perspectiveAngle]="90"
            [sideBySideSeriesPlacement]="true"	
            [isResponsive]="true"
            title.text="Employees In Self Insured Plans, 2013" size.height='600'>
    <e-seriescollection>
        <e-series name="California" type="bar" [dataSource]="barData" xName="xValue" yName="yValue1"></e-series>
        <e-series name="United States" type="bar" [dataSource]="barData" xName="xValue" yName="yValue2"></e-series>
    </e-seriescollection>
</ej-chart>

				</div>
            </div>
        </div>
 </div>