
<ej-chart #columnTD id="columnTD"  align="center" style="display:block;margin-left:10%" [isResponsive]="true" [legend.visible]="true" legend.position="bottom" title.text="Chemicals in Soaps"  size.width="75%"  [primaryXAxis.valueType]="category" primaryXAxis.labelIntersectAction="multipleRows" [primaryXAxis.majorGridLines.visible]="true"
    primaryXAxis.majorGridLines.color="#a9a9a9" [primaryXAxis.majorGridLines.opacity]="0.12" [primaryYAxis.majorGridLines.visible]="true" primaryYAxis.majorGridLines.color="#a9a9a9" [primaryYAxis.majorGridLines.opacity]="0.12" [commonSeriesOptions.tooltip.visible]="true"
    commonSeriesOptions.tooltip.format="#point.x# :  #point.y#mg" (load)="onchartload($event)"			
            [enable3D]="true" [enableRotation]="true"
			[depth]="100"
            [wallSize]="2"
            [tilt]="0"
			[rotation]="14"
            [perspectiveAngle]="20"
            [sideBySideSeriesPlacement]="true">
    <e-seriescollection>
        <e-series name="Chemicals in Soap X" [dataSource]="FruitsList" xName="xName" yName="yName"></e-series>
        <e-series name="Chemicals in Soap Y" [dataSource]="FruitsList" xName="xName" yName="yName1"></e-series>
    </e-seriescollection>
</ej-chart>