<ej-chart id="atr" style="display:block;" (load)="onchartload($event)" [primaryXAxis.columnIndex]="0"
                [primaryXAxis.crosshairLabel.visible]="true"
                [primaryXAxis.majorGridLines.visible]="false"
                primaryXAxis.valueType='datetime'
                primaryXAxis.title.text="Month"
				primaryXAxis.labelFormat="MMM/dd"
				[primaryYAxis.range.min]="10" [primaryYAxis.range.max]="90" [primaryYAxis.range.interval]="10"
                primaryYAxis.labelFormat='{value}F'
                primaryYAxis.title.text="Temperature(Fahrenheit)"
                [primaryYAxis.rowIndex]="0"
                [primaryYAxis.crosshairLabel.visible]="true" [axes]="Axes" [crosshair.visible]="true"
                crosshair.type='crosshair'
               [isResponsive]="true"
			   title.text="Weather Condition"
               size.height="600"
               legend.visible="true">
    <e-seriescollection>
        <e-series name='Temperature'
					type='line'
					[enableAnimation]="true"                    
					[border.width]="1.5"></e-series>
		<e-series   name='Rainfall'
					type='line' 
					yAxisName='yAxis'
					xAxisName='xAxis1' 
					[enableAnimation]="true"
                    [border.width]="1.5"></e-series>
	</e-seriescollection>

</ej-chart>