<ej-chart id="datetime" style="display:block;" (load)="onchartload($event)" primaryXAxis.title.text="Sales Across Years"
                [primaryXAxis.range]="Range"
                primaryXAxis.intervalType="Years"
                primaryXAxis.labelFormat="MMM-yyyy"
                primaryXAxis.valueType="datetime" primaryYAxis.title.text="Sales Amount in millions(USD)"
                primaryYAxis.labelFormat='${value}'
                primaryYAxis.rangePadding="additional" [commonSeriesOptions.tooltip.visible]="true" title.text="Average Sales Comparison"
                size.height="600"
               [legend.visible]="false">
    <e-seriescollection>
        <e-series name="India" [dataSource]="dateTimeData" xName="x" yName="y" name='Sales'
					type='line' 
					[enableAnimation]="true"
					marker.shape='circle'
					[marker.size.height]="10" [marker.size.width]="10"
                    [marker.visible]="true"
					tooltip.format=" Date : #point.x#  <br/> Profit : #point.y# "
                    [border.width]="3"></e-series>
    </e-seriescollection>

</ej-chart>