<ej-chart id="doughnut" style="display:block;" (load)="onchartload($event)" title.text='Project Cost Breakdown' [legend.visible]="true" legend.position='top'>
    <e-seriescollection>
        <e-series [dataSource]="doughnutData" xName="x" yName="y" name='Sales' textMappingName="text"
					[marker.dataLabel.visible]="true" 
					marker.dataLabel.font.color='white' marker.dataLabel.font.size='30px' marker.dataLabel.font.fontWeight='lighter'
                    name='Newyork'
					type="doughnut" 
					[explode]="true" 
					[doughnutSize]="0.9"
					labelPosition='inside' 
					[enableAnimation]="true"></e-series>
    </e-seriescollection>

</ej-chart>