<ej-chart #errorbar id="errorbar" style="display:block;" (load)="onchartload($event)"
                primaryXAxis.title.text="Months" [primaryYAxis.range.min]="0" [primaryYAxis.range.max]="40" [primaryYAxis.range.interval]="5"
				primaryYAxis.title.text="Temperature"
				primaryYAxis.labelFormat="{value}C" [commonSeriesOptions.enableAnimation]="false"
                commonSeriesOptions.marker.shape='circle'
                [commonSeriesOptions.marker.visible]="true" [isResponsive]="true"
            title.text="Temperature Over Months"
            size.height="600"
            [legend.visible]="false"
                > 
    <e-seriescollection>
        <e-series [dataSource]="errorData" xName="x" yName="y" name="Temperature"
                        type='line' errorBar.visibility="visible"
                        [tooltip.visible]="true"></e-series>
	</e-seriescollection>
</ej-chart>

<div class="panel-body">
   <div id="property-window" class="box wide">
     <div class="row">
                <div class="col-md-3">
                    Error Bar Visible
                </div>
                <div class="col-md-3 aligntop">
				   <ej-checkbox #visible (ejchange)="onVisible($event)" [checked]="true"></ej-checkbox>
                </div>
           <div class="col-md-3">
                     Cap Visible
                </div>
                <div class="col-md-3 aligntop">
					<ej-checkbox #cap (ejchange)="onCap($event)" [checked]="true"></ej-checkbox>
                </div>
            </div>
			<br/>
            <div class="row">
                <div class="col-md-3">
                   Error Bar Type
					 </div>
                <div class="col-md-3 aligntop">
					<input id="ErrorBarType" ej-dropdownlist #ErrorBarType (select)="onErrorBarType($event)" [selectedIndex]="0" [dataSource]="['Fixed Value', 'Percentage', 'Standard Deviation','Standard Error','Custom']" width="100%" />
                </div>
            <div class="col-md-3">
                    Drawing Mode
                </div>
                <div class="col-md-3 aligntop">
					<input id="mode" ej-dropdownlist #mode (select)="onMode($event)" [selectedIndex]="0" [dataSource]="['Vertical', 'Horizontal', 'Both']" width="100%" />
                </div>
            </div>
			<br/>
            <div class="row">
                <div class="col-md-3">
                    Direction Mode
                </div>
                <div class="col-md-3 aligntop">
					<input id="direction" ej-dropdownlist #direction (select)="onDirection($event)" [selectedIndex]="0" [dataSource]="['Both', 'Minus', 'Plus']" width="100%" />
                </div>
            <div class="col-md-3">
                    Vertical Value
					 </div>
                <div class="col-md-3 aligntop">
					<input id="vertical" type="text" ej-numerictextbox  value="3" (ejchange)="vertical($event)" width="100%" />  
                </div>
            </div>
			<br/>
            <div class="row">
                <div class="col-md-3">
                    Horizontal Value
                </div>
                <div class="col-md-3 aligntop">
						<input id="horizontal" type="text" ej-numerictextbox  value="1" (ejchange)="horizontal($event)" width="100%" /> 
                </div>
             <div class="col-md-3">
                   Vertical Positive Value
                </div>
                <div class="col-md-3 aligntop">
					<input id="verticalpositive" type="text" ej-numerictextbox  value="5" (ejchange)="verticalpositive($event)" width="100%" /> 
                </div>
            </div>
			<br/>
            <div class="row">
                <div class="col-md-3">
                   Vertical Negative Value
                </div>
                <div class="col-md-3 aligntop">
					<input id="verticalnegative" type="text" ej-numerictextbox  value="5" (ejchange)="verticalnegative($event)" width="100%" /> 
                </div>
            <div class="col-md-3">
                   Horizontal Positive Value
                </div>
                <div class="col-md-3 aligntop">
					<input id="horizontalpositive" type="text" ej-numerictextbox  value="1" (ejchange)="horizontalpositive($event)" width="100%" /> 
                </div>
            </div>
			<br/>
            <div class="row">
                <div class="col-md-3">
                   Horizontal Negative Value
                </div>
                <div class="col-md-3 aligntop">
					<input id="horizontalnegative" type="text" ej-numerictextbox  value="1" (ejchange)="horizontalnegative($event)" width="100%" /> 
                </div>
            <div class="col-md-3">
                    Error Bar Color
                </div>
                <div class="col-md-3 aligntop">
					<input id="errorBarColorPicker" type="text" ej-textbox (change)="errorBarColorPicker($event)" width="100%" /> 
                </div>
            </div>
			<br/>
			<div class="row">
                <div class="col-md-3">
                    Cap Color
                </div>
                <div class="col-md-3 aligntop">
					<input id="capColorPicker" type="text" ej-textbox (change)="capColorPicker($event)" width="100%" /> 
                </div>
           <div class="col-md-3">
                    Cap Length
                </div>
                <div class="col-md-3 aligntop">
					<input id="capLength" type="text" ej-numerictextbox  value="20" (ejchange)="capLength($event)" width="100%" /> 
                </div>
            </div>
			<br/>
            <div class="row">
                <div class="col-md-3">
                    Cap Width
                </div>
                <div class="col-md-3 aligntop">
					<input id="capWidth" type="text" ej-numerictextbox  value="1" (ejchange)="capWidth($event)" width="100%" /> 
                </div>
            </div>
 </div>
 </div>
 