<ej-chart #legend id="legend" style="display:block;" title.text="Internet users (per 100 people) in 2013"
            [isResponsive]="true"
            (preRender)="legendBorder($event)"
            size.height="550"
            [legend.visible]="true"
			legend.border.color='black' [legend.border.width]="1"
			legend.position="bottom"
			legend.alignment="near" 
			legend.textOverflow="none"
			legend.title.text="Countries"
			legend.title.textAlignment="center">
    <e-seriescollection>
        <e-series type="pie" [dataSource]="legendData" xName="x" yName="y" pointColorMappingName="fill"
		[marker.dataLabel.visible]="true"
        marker.dataLabel.shape='none' 
		marker.dataLabel.connectorLine.type='bezier' marker.dataLabel.connectorLine.color='blue' marker.dataLabel.font.color="white"
                    name='Expenses'
					type='pie'
					[enableAnimation]="true" 
					labelPosition="inside" 
					[enableSmartLabels]="true" 
					[startAngle]="270">
        </e-series>
    </e-seriescollection>
</ej-chart>
<div class="panel-body">
   <div id="property-window" class="box wide">
      <div class="row">
                        <div class="col-md-3">
                            Position
                        </div>
                        <div class="col-md-3">
                             <input id="optPositionChange" ej-dropdownlist #optPositionChange (select)="onchange1($event)" [selectedIndex]="0" [dataSource]="['Bottom', 'Left', 'Top','Right']" width="100%" />
                        </div>
                        <div class="col-md-3">
                           Alignment
                        </div>
                        <div class="col-md-3">
                            <input id="optAlignmentChange" ej-dropdownlist #optAlignmentChange (select)="onchange2($event)" [selectedIndex]="0" [dataSource]="['Near', 'Center', 'Far']" width="100%" />
                        </div>
					</div><br/>
					<div class="row">
						<div class="col-md-3">
                           Height
                        </div>
                        <div class="col-md-3">
							 <input id="legendHeight" type="text" ej-numerictextbox (ejchange)="onchange3($event)" width="100%" />(eg. 10% or 100)
                        </div>
						<div class="col-md-3">
                           Width
                        </div>
                        <div class="col-md-3">
							 <input id="legendWidth" type="text" ej-numerictextbox (ejchange)="onchange4($event)" width="100%" />(eg. 10% or 100) 
                        </div>
						</div> <br/>
						<div class="row">
						<div class="col-md-3">
                           Row Count
                        </div>
                        <div class="col-md-3">
			<input id="optRowcount" ej-dropdownlist #optRowcount (select)="onchange5($event)" [selectedIndex]="0" [dataSource]="['1', '2', '3','4','5','6','7','8','9','10']" width="100%" />		
                        </div>
						<div class="col-md-3">
                           Column Count
                        </div>
                        <div class="col-md-3">
					<input id="optColumncount" ej-dropdownlist #optColumncount (select)="onchange6($event)" [selectedIndex]="0" [dataSource]="['1', '2', '3','4','5','6','7','8','9','10']" width="100%" />
                        </div>
						</div><br/>
						<div class="row">
						<div class="col-md-3">
                            Text Overflow
                        </div>
                        <div class="col-md-3">
				 <input id="optTextoverflow" ej-dropdownlist #optTextoverflow (select)="onchange7($event)" [selectedIndex]="0" [dataSource]="['None', 'Trim', 'Wrap','WrapAndTrim']" width="100%" />
                        </div>
						<div class="col-md-3">
                           Text Width
                        </div>
                        <div class="col-md-3">
							<input id="textWidth" type="text" ej-numerictextbox (ejchange)="onchange8($event)" width="100%" /> 
                        </div></div>
                    
</div>
</div>