<ej-chart id="default_chart_sample_12" style="display:block;" [legend.visible]="false" [isResponsive]="true" (load)="onchartload($event)" [primaryXAxis.majorGridLines.visible]="false" [primaryYAxis.range.min]="0" [primaryYAxis.range.max]="50" [primaryYAxis.range.interval]="10"
    background="transparent" [enableCanvasRendering]="true">
    <e-seriescollection>
        <e-series type="spline" enableAnimation="false" fill="#E46455" opacity="0.8"></e-series>
        <e-series type="spline" enableAnimation="false" opacity="0.8"></e-series>
    </e-seriescollection>
</ej-chart>