<ej-chart id="default_chart_sample_6" style="display:block;" [enable3D]="true" tilt="-30" [depth]="30" rotation="-30" [isResponsive]="true" [enableRotation]="false" perspectiveAngle="90" title.text="Expenditure shares on a child" title.enableTrim="true"
    [legend.visible]="false" (load)="onchartload($event)" commonSeriesOptions.tooltip.visible="true" commonSeriesOptions.tooltip.format="#point.x#:  #point.y#%">
    <e-seriescollection>
        <e-series [dataSource]="Expenditure" xName="xName" yName="yName" type="pie" explodeIndex="0" labelPosition="outside" startAngle="145"></e-series>
    </e-seriescollection>
</ej-chart>