<ej-chart id="rangeColumn" style="display:block;"  primaryXAxis.title.text='Month'
                [primaryXAxis.axisLine.visible]="false"                              
				[primaryXAxis.majorGridLines.visible]="false"
                [primaryXAxis.majorTickLines.visible]="false"  primaryYAxis.title.text='Temperature(Celsius)'
                [primaryYAxis.axisLine.visible]="false"
                [primaryYAxis.majorGridLines.visible]="true" [commonSeriesOptions.enableAnimation]="true"
                commonSeriesOptions.type='rangecolumn' title.text="Maximum and Minimum Temperature"
              size.height="600"
			[isResponsive]="true"
            [legend.visible]="true">
    <e-seriescollection>
        <e-series name='India' [dataSource]="rangeCoumnData1" xName="x" high="high" low="low"></e-series>
		 <e-series name='Germany' [dataSource]="rangeCoumnData2" xName="x" high="high" low="low"></e-series>
    </e-seriescollection>
</ej-chart>