<ej-chart #smartLabel id="smartLabel" style="display:block;" (load)="onchartload($event)" primaryXAxis.title.text='Years'
				 [primaryXAxis.range.min]="2004" [primaryXAxis.range.max]="2013" [primaryXAxis.range.interval]="1"
				 primaryXAxis.edgeLabelPlacement="hide" primaryYAxis.labelFormat="{value}%"
				 [primaryYAxis.range.min]="20" [primaryYAxis.range.max]="40" [primaryYAxis.range.interval]="4"
                 primaryYAxis.title.text="Profit percentage" commonSeriesOptions.type='line'
				 title.text="Sum of profit percentage from various share investments"
			   size.height="600"
			 [isResponsive]="true"
			 [legend.visible]="false">
    <e-seriescollection>
        <e-series [dataSource]="SmartLabelData" xName="x" yName="y" name="Profit percentage" fill="#1ab0b0" [marker.dataLabel.visible]="true" [enableSmartLabels]="true" [enableAnimation]="true"
                 [tooltip.visible]="true"
                 [marker.visible]="true" 
				 marker.dataLabel.shape="rectangle" marker.dataLabel.font.color="white"></e-series>
	</e-seriescollection>
</ej-chart>

<div class="panel-body">
   <div id="property-window" class="box wide">
    <div class="row">
                        <div class="col-md-3"> 		
                       EnableSmartLabels	</div>
					   <div class="col-md-3 aligntop">
						<ej-checkbox #enableSmartLabels (ejchange)="onchange1($event)" [checked]="true"></ej-checkbox>
                        </div>
   </div> 
</div>
</div>
