<ej-chart #stackedarea id="stackedarea" style="display:block;" (load)="onchartload($event)" [primaryXAxis.axisLine.visible]="false"
                [primaryXAxis.majorGridLines.visible]="false"
                [primaryXAxis.majorTickLines.visible]="false"
                primaryXAxis.title.text='Year' primaryYAxis.title.text='Production in %'
                primaryYAxis.labelFormat='{value} %'
                primaryYAxis.labelFormat='{value}%' commonSeriesOptions.type='stackingarea'
				[commonSeriesOptions.enableAnimation]="true"  title.text=' Industrial Production Growth'>
    <e-seriescollection>
      <e-series [dataSource]="stackingAreaData1" xName="x" yName="y" name='US'
					border.color='transparent' 
					opacity="0.5"
					fill='#C4C24A' ></e-series>
	 <e-series [dataSource]="stackingAreaData2" xName="x" yName="y" name='Indonesia'
					border.color='transparent' 
					opacity="0.5"
					fill='#69D2E7' ></e-series>
	 <e-series [dataSource]="stackingAreaData3" xName="x" yName="y" name='Russia'
					border.color='transparent' 
					opacity="0.5"
					fill='#6A4B82' ></e-series>
	<e-series [dataSource]="stackingAreaData4" xName="x" yName="y" name='Bangladesh'
					border.color='transparent' 
					opacity="0.5"
					fill='#E7B0B2' ></e-series>
	</e-seriescollection>
</ej-chart>
<div class="panel-body">
<div id="property-window" class="box wide">
    <div class="row">
        <div class="col-md-3">
            Series Type
        </div>
        <div class="col-md-3">
            <div id="dropdown">
                <input id="optSeriesType" ej-dropdownlist #optSeriesType (select)="onChangeType($event)" [selectedIndex]="0" [dataSource]="['Stacked Area', 'Stacked Spline Area', '100% Stacked Spline Area']"  width="100%" />
            </div>
        </div>
    </div>
</div>
</div>
