<ej-chart id="spline" style="display:block;" (load)="onchartload($event)" primaryXAxis.title.text='Month'
				[primaryXAxis.range.min]="2005" [primaryXAxis.range.max]="2012" [primaryXAxis.range.interval]="1"
                primaryXAxis.labelRotation="45" [primaryYAxis.range.min]="-20" [primaryYAxis.range.max]="100" [primaryYAxis.range.interval]="20"
				primaryYAxis.labelFormat="{value}%" primaryYAxis.title.text='Percentage' commonSeriesOptions.type='stackingbar' 
				[commonSeriesOptions.enableAnimation]="true"
                [commonSeriesOptions.tooltip.visible]="true" commonSeriesOptions.tooltip.format="#series.name# <br/> #point.x# : #point.y#" title.text='Sales Comparison'
            size.height="600"			
            [isResponsive]="true"
            [legend.visible]="true" legend.position='right' legend.alignment="near">
    <e-seriescollection>
      <e-series [dataSource]="stackingBarData1" xName="x" yName="y" name='Apple'
					fill='#1ABC9C' ></e-series>
	 <e-series [dataSource]="stackingBarData2" xName="x" yName="y" name='Orange'
					fill='#3498DB' ></e-series>
	 <e-series [dataSource]="stackingBarData3" xName="x" yName="y" name='Wastage'
					fill='#34495E' ></e-series>
	</e-seriescollection>
</ej-chart>
