
 <div id="Tooltip" style="display: none;">
		<div id="icon">	
			<div id="sales"></div>
		</div>
        <div id="value">
            <div>
				<div id="efpercentage">#point.x#</div>
				<div id="ef">#point.y#</div>
            </div>
        </div>
    </div>	
	
	<style class="cssStyles">
        .tooltipDivcontainer {
            background-color:#C1272D !important;        
            color: white;
			width:100px;
        }
        #Tooltip >div:first-child {
            float: left;
        }
        #Tooltip #value {
            float: right;
            height: 38px;
            width: 60px;
        }
        #Tooltip #value >div {
            margin: 3px 5px 5px 5px;
             border-radius: 7px;   
        }
        #Tooltip #efpercentage {
            font-size: 10px;
            font-family: segoe ui;
            color: white;
			font-weight: bold;
        }
         #Tooltip #ef {
             font-size: 10px;
             font-family: segoe ui;
			 font-weight: bold;
			 color: white;
             
        }
         #sales {
            background-image: url("app/content/images/chart/buisnessman.png");
            height: 32px;
            width: 32px;
            background-repeat: no-repeat;
        }   
</style>
<ej-chart #track id="track" style="display:block;" (load)="onchartload($event)" primaryXAxis.title.text="Year"
                primaryXAxis.range="Range"
                primaryXAxis.intervalType='Years'
                primaryXAxis.valueType='datetime'
                [primaryXAxis.axisLine.visible]="false"
                [primaryXAxis.majorGridLines.visible]="false"
				primaryYAxis.title.text="Revenue"
                primaryYAxis.labelFormat='{value}K'
                [primaryYAxis.majorTickLines.visible]="false"
                [primaryYAxis.range.min]="20" [primaryYAxis.range.max]="120" [primaryYAxis.range.interval]="20"
                [primaryYAxis.axisLine.visible]="false"
				commonSeriesOptions.type='line'
				[commonSeriesOptions.enableAnimation]="true"
				commonSeriesOptions.marker.shape='circle'
				[commonSeriesOptions.marker.visible]="true"
				[crosshair.visible]="true"
                crosshair.type='trackball'
                crosshair.trackballTooltipSettings.mode="grouping"
               [isResponsive]="true"
            title.text='Average sales per person'
            size.height="600" 
            [legend.visible]="true"
				legend.shape='circle'
				legend.position='Top'
				[legend.itemStyle.width]="10" [legend.itemStyle.height]="10">
    <e-seriescollection>
        <e-series [dataSource]="trackData1"
					xName="x"
					yName="y"
					name='John' 
					[tooltip.visible]="true"></e-series>
		 <e-series [dataSource]="trackData2"
					xName="x"
					yName="y"
					name='John' 
					[tooltip.visible]="true"></e-series>
	 <e-series [dataSource]="trackData3"
					xName="x"
					yName="y"
					name='John' 
					[tooltip.visible]="true"></e-series>
	 <e-series [dataSource]="trackData4"
					xName="x"
					yName="y"
					name='John' 
					[tooltip.visible]="true"></e-series>
	 <e-series [dataSource]="trackData5"
					xName="x"
					yName="y"
					name='John' 
					[tooltip.visible]="true"></e-series>
	</e-seriescollection>
</ej-chart>

<div class="panel-body">
   <div id="property-window" class="box wide">
     <div class="row" style="margin: 10px 0;">
                        <div class="col-md-3">
                            Trackball Tooltip Mode
                        </div>
                        <div class="col-md-3 aligntop">
      <input id="trackballmode" ej-dropdownlist #trackballmode (select)="onchange($event)" [selectedIndex]="0" [dataSource]="['Grouping', 'Float']" width="100%" />
                  </div>
           </div>
 </div>
 </div>
