<ej-chart #virtual id="virtual" style="display:block;" (load)="onchartload($event)" [primaryXAxis]="PrimaryX"
    [primaryYAxis]="PrimaryY"
				[crosshair.visible]="true" crosshair.type='trackball' 
                title.text='Network Load'
                (scrollStart)='scrollStart($event)'
                (scrollEnd)='scrollEnd($event)'
                size.height="600"
                [legend.visible]="false">
    <e-seriescollection>
        <e-series  [enableAnimation]="true"
                        name='Temperature'
                        type='line'>
		 </e-series>
	</e-seriescollection>
</ej-chart>
<div class="panel-body">
   <div id="property-window" class="box wide">
             <div class="row">
                        <div class="col-md-3">
                            Lazy Load
                        </div>
                        <div class="col-md-3 aligntop">
             <input id="type" ej-dropdownlist #type (select)="onchange1($event)" [selectedIndex]="0" [dataSource]="['Range', 'Points Length']" width="100%" />
                        </div>
                    </div><br/>
                    <div class="row" id="point">
                        <div class="col-md-3">
                            Points Length
                        </div>
                        <div class="col-md-3 aligntop">
                           <input id="point" type="text" ej-numerictextbox #point id="point" value="1000" disabled (ejchange)="onchange2($event)" width="100%" />
                        </div>
                    </div>
</div>
</div>

