<ej-chart id="zooming" style="display:block;" title.text="Server CPU Load" [legend.visible]="false" [isResponsive]="true" [zooming.enable]="true" zooming.type="x, y" [zooming.enableMouseWheel]="true" (load)="onchartload($event)" primaryXAxis.valueType="datetime"
    primaryXAxis.labelFormat="yyyy" [primaryXAxis.range.interval]="4" primaryXAxis.title.text="Year" primaryYAxis.labelFormat="{value}%" commonSeriesOptions.type="line" [commonSeriesOptions.enableAnimation]="true" commonSeriesOptions.namr="Server">
    <e-seriescollection>
        <e-series name="Website"></e-series>
    </e-seriescollection>
</ej-chart>