<ej-pivotgauge [dataSource.data]="data" [dataSource.catalog]="catalog" [dataSource.cube]="cube" [dataSource.rows]="rows"
	[dataSource.columns]="columns" [dataSource.values]="values" [isResponsive]="true" [rowsCount]="rowValue" [columnsCount]="colValue" [enableTooltip]="true" [scales]="scales">
</ej-pivotgauge>

<div id="property-window" class="box wide" style="width: 400px">
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Show Tooltip</b>
		</div>
		<div class="col-md-3 aligntop">
			<ej-checkbox id="check1" [(checked)]="checkedstatus" (ejchange)="onToolTipChange($event)"></ej-checkbox>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Show Header Labels</b>
		</div>
		<div class="col-md-3 aligntop">
			<ej-checkbox id="check2" [(checked)]="checkstatus" (ejchange)="onHeaderLableChange($event)"></ej-checkbox>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Frame Type</b>
		</div>
		<div class="col-md-3 aligntop">
			<input style="margin: -25px 0 0 100px;" id="frameType" ej-dropdownlist  [dataSource]="frameType" [(value)]="value" (ejchange)= "onchange($event)"/>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Row Count</b>
		</div>
		<div class="col-md-3">
    		<input style="margin: -25px 0 0 100px;" id="rowscount" ej-dropdownlist  [dataSource]="rowscount" [(value)]="rowValue" (ejchange)= "onrowchange($event)"/>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Column Count</b>
		</div>
		<div class="col-md-3">
    		<input style="margin: -25px 0 0 100px;" id="columnscount" ej-dropdownlist  [dataSource]="rowscount" [(value)]="colValue" (ejchange)= "oncolumnchange($event)"/>
		</div>
	</div>
</div>