<ej-pivotgauge style="margin-left: 25%" [dataSource.data]="data" [dataSource.catalog]="catalog" [dataSource.cube]="cube" [dataSource.rows]="rows"
	[dataSource.columns]="columns" [dataSource.values]="values" [isResponsive]="true" [enableTooltip]="true" [scales]="scales">
</ej-pivotgauge>

<div id="property-window" class="box wide" style="width: 400px">
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Pointer Length</b>
		</div>
		<div class="col-md-3 aligntop">
			<ej-slider id="pointerlength" type="Range" width="100%" [value]="sizeValue" [minValue]="sizeMinValue" [maxValue]="sizeMaxValue" width="110px" height="10px" (slide)="onchange($event)" (change)="onchange($event)" ></ej-slider>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Pointer Width</b>
		</div>
		<div class="col-md-3 aligntop">
			<ej-slider id="pointerwidth" type="Range" width="100%" [value]="radValue" [minValue]="radMinValue" [maxValue]="radMaxValue" width="110px" height="10px" (slide)="onchange($event)" (change)="onchange($event)" ></ej-slider>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Marker Width</b>
		</div>
		<div class="col-md-3 aligntop">
			<ej-slider id="markerwidth" type="Range" width="100%" [value]="borValue" [minValue]="borMinValue" [maxValue]="borMaxValue" width="110px" height="10px" (slide)="onchange($event)" (change)="onchange($event)" ></ej-slider>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Needle length</b>
		</div>
		<div class="col-md-3">
    		<ej-slider id="needlelength" type="Range" width="100%" [value]="needleValue" [minValue]="needleMinValue" [maxValue]="needleMaxValue" width="110px" height="10px" (slide)="onchange($event)" (change)="onchange($event)" ></ej-slider>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Cap Radius</b>
		</div>
		<div class="col-md-3">
    		<ej-slider id="pointercapradius" type="Range" width="100%" [value]="capValue" [minValue]="capMinValue" [maxValue]="capMaxValue" width="110px" height="10px" (slide)="onchange($event)" (change)="onchange($event)" ></ej-slider>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Needle Style</b>
		</div>
		<div class="col-md-3">
    		<input style="margin: -25px 0 0 100px;" id="needlestyle" ej-dropdownlist  [dataSource]="needlestyle" [(value)]="value" (ejchange)= "onPointerchange($event)"/>
		</div>
	</div>
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<b>Marker Style</b>
		</div>
		<div class="col-md-3">
    		<input style="margin: -25px 0 0 100px;" id="markerstyle" ej-dropdownlist  [dataSource]="markerstyle" [(value)]="markerValue" (ejchange)= "onMarkerchange($event)"/>
		</div>
	</div>
</div>