<ej-pivotclient id="PivotClient1" [title]="title" [dataSource.data]="data" [dataSource.catalog]="catalog" [dataSource.reportName]="reportName" [dataSource.cube]="cube" [dataSource.rows]="rows" [dataSource.columns]="columns" [dataSource.values]="values" [enableAdvancedFilter]="true"  (beforeExport)="export($event)" (saveReport)="saveReportSettings($event)" (fetchReport)="saveReportSettings($event)" (loadReport)="saveReportSettings($event)">
</ej-pivotclient>
<div id="property-window" class="box wide" style="width: 350px">
    <div class="row" style="margin-top: 20px">
        <table width="300px">
            <tr>
                <td> Data Source </td>
                <td>
                    <input id="rdbRelational" type="radio" ej-radiobutton name="radio1" [checked]="true" value="relational" (ejchange)="onChange($event)" /> Relational</td>
                <td>
                    <input id="rdbOlap" ej-radiobutton type="radio" name="radio1" value="olap" (ejchange)="onChange($event)" /> OLAP</td>
            </tr>
        </table>
    </div>
<div>