 <ej-diagram #diagram width="100%" height="600" [pageSettings]="pageSettings">
    <e-nodes>	
        <e-node name="node1" [width]="60" [height]="60" [offsetX]="170" [offsetY]="105" borderWidth="1" borderColor="#FF8C00" [gradient]="gradient" shape="ellipse">
        </e-node>
        <e-node name="node2" [width]="60" [height]="90" [offsetX]="240" [offsetY]="105" borderWidth="1" borderColor="#8BB23F" [gradient]="gradient1" shape="ellipse">
        </e-node>
        <e-node name="node3" [width]="60" [height]="120" [offsetX]="310" [offsetY]="105" borderWidth="1" borderColor="#27A9CC" [gradient]="gradient2" shape="ellipse">
        </e-node>
        <e-node name="node4" [width]="60" [height]="90" [offsetX]="160" [offsetY]="255" borderWidth="1" borderColor="#FF8C00" [gradient]="gradient" shape="ellipse">
        </e-node>
        <e-node name="node5" [width]="90" [height]="90" [offsetX]="240" [offsetY]="255" borderWidth="1" borderColor="#8BB23F" [gradient]="gradient1" shape="ellipse">
        </e-node>
        <e-node name="node6" [width]="60" [height]="90" [offsetX]="320" [offsetY]="255" borderWidth="1" borderColor="#27A9CC" [gradient]="gradient2" shape="ellipse">
        </e-node>
        <e-node name="node7" [width]="90" [height]="60" [offsetX]="165" [offsetY]="400" borderWidth="1" borderColor="#FF8C00" [gradient]="gradient" shape="ellipse">
        </e-node>
        <e-node name="node8" [width]="90" [height]="60" [offsetX]="240" [offsetY]="400" borderWidth="1" borderColor="#8BB23F" [gradient]="gradient1" shape="ellipse">
        </e-node>
        <e-node name="node9" [width]="90" [height]="60" [offsetX]="315" [offsetY]="400" borderWidth="1" borderColor="#27A9CC" [gradient]="gradient2" shape="ellipse">
        </e-node>
   </e-nodes>
</ej-diagram>