
    <script type="text/x-jsrender" id="leftlight">
          <div style="width:28px;height:20px;background-color: transparent;">
		     <img id="Img1" src="../../content/images/rangenavigator/Left.png"  />
		  </div>
	</script>
	<script type="text/x-jsrender" id="rightlight">
          <div style="width:20px;height:20px;background-color: transparent;">
		     <img id="Img2" src="../../content/images/rangenavigator/Right.png"  />
		  </div>
	</script>
	<script type="text/x-jsrender" id="leftdark">
          <div style="width:28px;height:20px;background-color: transparent;">
		     <img id="Img3" src="../../content/images/rangenavigator/LeftDark.png"  />
		  </div>
	</script>
	<script type="text/x-jsrender" id="rightdark">
          <div style="width:20px;height:20px;background-color: transparent;">
		     <img id="Img4" src="../../content/images/rangenavigator/RightDark.png"  />
		  </div>
	</script>
	<script type="text/x-jsrender" id="rectlight">
           <div style="width:8px;height:36px;background-color: #41d335;border: 2px ridge dimgray;"></div>
	</script>
	<script type="text/x-jsrender" id="rectdark">
           <div style="width:8px;height:36px;background-color: #41d335;border: 2px ridge white;"></div>
	</script>
<div class="content-container-fluid">      
            <div class="row">                
                <div class="cols-sample-area"> 
                    <div id="scrollcontent" style="width:92% !important;  position: relative; margin-left:auto; margin-right:auto;">                  
                        <ej-rangenavigator style="display:block;" align="center" id="container_range1" [enableDeferredUpdate]="true" padding="15" [allowSnapping]="true" [selectedRangeSettings]="RangeSetting1" [isResponsive]="true" [tooltipSettings]="Tooltip1" [series]="Series1" [valueAxisSettings]="AxisSetting1" [labelSettings]="Label1">						
</ej-rangenavigator>
                    </div><br/><br/>	
					<div id="scrollcontent2" style="width:92% !important;  position: relative; margin-left:auto; margin-right:auto;"> 
                      <ej-rangenavigator style="display:block;" align="center" id="Ej-rangenavigator1" [enableDeferredUpdate]="true" padding="15" [allowSnapping]="true" [selectedRangeSettings]="RangeSetting2" [isResponsive]="true" [tooltipSettings]="Tooltip2" [series]="Series2" [valueAxisSettings]="AxisSetting2" [labelSettings]="Label2">  
</ej-rangenavigator>					  
                    </div>					
                </div>
             </div>
</div>

    
