<ej-schedule id="ResourceGroupSchedule"
  width="100%"
  height="525px"
  currentView="workweek"
  orientation="horizontal"
  cellWidth="40px"  
  [currentDate]=currentdate 
  [appointmentSettings.dataSource]=scheduleData 
  appointmentSettings.id="Id"
  appointmentSettings.subject="Subject" 
  appointmentSettings.startTime="StartTime" 
  appointmentSettings.endTime="EndTime"
  appointmentSettings.allDay="AllDay"
  appointmentSettings.recurrence="Recurrence"
  appointmentSettings.recurrenceRule="RecurrenceRule"
  appointmentSettings.resourceFields="RoomId,OwnerId"
  [group]=group >
  <e-resources>
     <e-resource field="RoomId" title="Room" name="Rooms" [resourceSettings]=resourcelevel1></e-resource>
     <e-resource field="OwnerId" title="Owner" name="Owners" [allowMultiple]=allowMultiple [resourceSettings]=resourcelevel2></e-resource>    
  </e-resources>
</ej-schedule>