<div #sample class="sample">
	<div id="ej2popup" class="e-ej2popup" *ngIf="!showcaseHref">
		<div class="e-popup-close">
			<button id="popupclose" class="float-right" ej-button type="button" size="normal" width=20 height=20 cssClass="popupclose"
			 [showRoundedCorner]="true" contentType="image" prefixIcon="e-icon ej2button-logo" (ejclick)='showEJ2PopUp($event)'></button>
		</div>
		<table class="e-popup-table">
			<tr>
				<td class="e-popup-td">
					<div class="e-popup-content">
						<table class="e-content-table">
							<tr>
								<td class="e-content-td1">
									<div class="e-popup-first">Take a look at our next generation</div>
								</td>
								<td class="e-content-td2">
									<div class="e-popup-second">JavaScript Library</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td class="e-popup-td">
					<div class="e-popup-more">
						<a href="//ej2.syncfusion.com/home/angular.html?utm_source=ej1&utm_medium=referral&utm_campaign=migrate" class="anchorclass" target="_blank">
							<button id="learnmore" class="float-right ejbutton" ej-button title="Essential JS 2" type="button" size="normal" width=100
							 height=28 cssClass="learnmore" [showRoundedCorner]="true" contentType="text" (ejclick)='showEJ2PopUp($event)' text="LEARN MORE"></button>
						</a>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="toolbar" *ngIf="!showcaseHref">
		<sd-toolbar></sd-toolbar>
		<div class="themegallery" *ngIf="themeswitcher">
			<ej-menu #menuelement id="themebutton" title="Theme Switcher" [fields.dataSource]="menuData" width="62px" cssClass='e-custom-theme' [openOnClick]=true (ejclick)='themebtnClick($event)' [isResponsive] =false style="position: absolute;" (window:resize)="resizeMenu($event)" >
			</ej-menu>
		</div>
	</div>
	<div>
		<div class="ej2option" *ngIf="!showcaseHref">
			<a href="//ej2.syncfusion.com/home/angular.html?utm_source=ej1&utm_medium=referral&utm_campaign=migrate" class="anchorclass" target="_blank">
				<button id="ej2button" class="float-right ejbutton" ej-button title="Essential JS 2" type="button" size="normal" width=150
				 height=30 cssClass="ej2button" [showRoundedCorner]="true" prefixIcon="e-icon ej2button-logo" contentType="textandimage"
				 text="ESSENTIAL JS 2"></button>
			</a>
		</div>
	</div>
	<nav-bar [categoryList]="categoryList" *ngIf="!showcaseHref"></nav-bar>
	<section class="section" [class.outletSectionclass]='outletSectionVisible'>
		<div class="col-md-2 child-list" *ngIf="!showcaseHref && showcaseSubcat">
			<ej-listbox id="list" width="100%" height="323" [selectedIndex]="selectedIndex" [enableWordWrap]="false" showRoundedCorner.bind=true
			 (select)="onChildListSelect($event)" [template]="template" [dataSource]="childRoutes" [fields]="fieldList">
			</ej-listbox>
		</div>
		<div class={{sampleCol}} [class.sampleAreaclass]='classVisible'>
			<div class="sample-area" [style.border]="sampleAreaBorder" [style.border-color]="sampleborder" [style.border-radius]="sampleradius">
				<div class="sample-name" *ngIf="!showcaseHref" [style.display]="samplenamedisplay" [style.background-color]="dark" [style.color]="darkcolor" [style.border-bottom-color]="sampleborder">
					<strong> {{ samplename }}</strong>
				</div>
				<div class="outlet" [class.outletSectionclass]='outletSectionVisible'>
					<router-outlet></router-outlet>
				</div>

			</div>
			<div class="code-area-div" *ngIf="!showcaseHref" [style.display]="codeareaDisplay" [style.border-color]="sampleborder" >
				<div class="code-preview" [style.background-color]="dark" [style.color]="darkcolor" [style.border-bottom-color]="sampleborder">
					<strong>Code Preview</strong>
				</div>
				<div class="code-area ">
					<source-tab></source-tab>
				</div>
			</div>
		</div>
	</section>




</div>