nav a {
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  text-decoration: none;
  height: 27px;
  text-align: center;
  line-height: 30px;
}
#category-child-toolbar a
{
  text-decoration:none;
  vertical-align:middle;
  line-height:34px;
  padding: .0em .4em .0em;
}
ej-toolbar{
  border-left:none;
}