.JSlogo {
  background-image: url('deps/css/images/azure-logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 160px;
  height: 52px;
  margin-top: 11px;
  float: left;
  z-index: 2;
  margin-right: 10px;
  margin-left: 5px;
}

.angular-tittle {
  color: #66c2ff;
  font-size: 22px;
  letter-spacing: 0.3px;
  padding-top: 17px;
  padding-bottom: 14px;
  float: left;
}
.e-h1-tag{
color: transparent;
cursor: default;
display: inline-block;
}