<div style="width:100%;height:100%;">
    <div class="content-container-fluid">
        <div class="row">
            <div class="autocomplete">
                <div class="cols-sample-area">
                    <div class="frame">
                        <div class="ctrllabel">Select a country</div>
                        <input type="text" id="selectcountry" ej-autocomplete width="100%" watermarkText="Select a country" [dataSource]="countries"
                            [template]="template" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>