<div>
<ej-fileexplorer id="fileExplorer3" path="//js.syncfusion.com/demos/ejServices/Content/FileBrowser/"
                 ajaxAction="//js.syncfusion.com/demos/ejServices/api/FileExplorer/FileOperations"
                 [isResponsive]="true" [toolsList]="toolsList" [tools]="tools" width="100%" layout="tile" style="display:block">
</ej-fileexplorer>
<ej-dialog id="helpDialog" title="Use of FileExplorer" [enableResize]="false" [enableModal]="true" [showOnInit]="false" width="350" maxWidth="100%" cssClass="e-fe-dialog" target="#fileExplorer3">
        <div class="text-content">
            <div class="header-content">Need assistance?</div>
            <div class="header-content">Our help document assists you to know more about FileExplorer control.</div>
            <div class="header-content">
                Please refer
                <a href="//help.syncfusion.com/js/fileexplorer/overview" target="_blank">  Help Document</a>
            </div>
        </div>
</ej-dialog>
</div>