<div style="margin-left:0px;margin-top:10px;border-width: 2px;opacity: 0.7;height: 60px; width:290px">
    <label style="color:Black;font-size:22px;margin-top:10px;margin-left:20px;margin-right:20px;height:25px;font-weight:Normal;">World Sales Data</label>
</div>

<div style="height:inherit; height:90%; width:85%;min-height:350px;min-width:370px;margin-top:-60px;">
    <ej-map id="mapcontrol" [layers]="mapLayers" [zoomSettings.enableZoom]="true" [zoomSettings.level]="1" [zoomSettings.factor]="1" [navigationControl.enableNavigation]="false">
    </ej-map>
</div>