<div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div style="background-color: #FAFAF9;border-color: lightgray;margin-left:0px;border-width: 2px;opacity: 0.7;height: 45px;width:250px;">
                    <label style="color:Black;font-size:22px;margin:15px;margin-top:7px;margin-right:20px;height:25px;font-weight:Normal;">USA Population 2013</label>
                </div>
                <div style="min-height:435px">
					 <div id="Div1" style="height:inherit;min-height:435px;">
                         <ej-map #map id="map" [enableAnimation]="true" [navigationControl]="navigation" [layers]="mapLayers">
                        </ej-map>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="property-window" class="box wide">
                 <div class="row">
                              <div class="col-md-3">
                                 Indexed 
                                 </div>
                                 <div class="col-md-3 aligntop">                                  
                                    
									<ej-checkbox #indexed (ejchange)="onchange1($event)" [checked]="false"></ej-checkbox>
                                </div>
                              
                              </div>  
                </div>
             </div>
        </div>
    </div>