<div class="content-container-fluid" style="margin-bottom:30px;">
    <div class="row">
        <div class="cols-sample-area">
                    <table class="editors">

                        <tbody>
                            <tr>
                                <td>
                                    <span>Kilometers</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="numeric" type="text" ej-numerictextbox value="35" width="100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Service Tax</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="percent" type="text" ej-percentagetextbox value="3" width="100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Fare</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="currency" type="text" ej-currencytextbox value="555" width="100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Mobile No</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="maskedit" ej-maskedit value="4242422424" inputMode="ej.InputMode.Text" maskFormat='99 999-99999' width="100%" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
