<div class="healthtracker">
    <div class="trackerheader">
        <div class="sampleheader container">
            <div class="col-xs-12">
                <div class="title">
                    <img class="heartsym" src="../../content/images/showcase/heart-img.png" />
                    <label class="healthtext">Health Tracker</label>
                </div>
                <div class="dashboard">
                    <div class="boardpicdiv">
                        <div class="dashboardpic">
                            <b>Dashboard</b>
                        </div>
                    </div>
                    <div class="numpicdiv">
                        <div class="numpic">
                            <b>4</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="samplecontainer container">
        <div class="row"></div>
        <div id="heading row">
            <div class="col-xs-6">
                <br />
                <img class="personpic" src="../../content/images/showcase/person.png" />
                <p class="persondet">
                    <b>Andrew Fuller</b><br /> 34 years / 175 cm
                </p>
                <img class="personsym" src="../../content/images/showcase/personimg.png" />
            </div>
            <div class="col-xs-6">
                <div class="bmiweight">
                    <div class="bmidiv">
                        <label>BMI</label>
                        <div class="bmi">
                            <b>21.7</b><br />
                            <label>Kg/m2</label>
                        </div>
                    </div>
                    <div class="weightdiv">
                        <label>Weight</label>
                        <div class="weight">
                            <b>72.3</b><br />
                            <label>Kg</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row topspace">
            <div class="col-md-12 titlecss">Today</div>
        </div>
        <div class="row" id="todayDetails">
            <div class="col-md-6 ptiles">
                <div class="col-sm-6  gauge1">

                    <ej-circulargauge id="GaugeRDI" #gaugerdiElement [height]="155" [width]="170" frame.frameType="halfcircle" [distanceFromCorner]=-5
                        gaugePosition="bottomcenter" [isResponsive]="gaugeRdiResponse">
                        <e-scales>
                            <e-scale [showRanges]="true" majorIntervalValue="200" [minimum]="0" [maximum]="2200" pointerCap.radius="15" pointerCap.borderWidth="15"
                                pointerCap.backgroundColor="#3AB54B" pointerCap.borderColor="#3AB54B" [radius]="120" [startAngle]=182
                                [sweepAngle]="176" [showLabels]="false">
                                <e-pointers>
                                    <e-pointer [length]="70" [width]="1" [value]="450" border.color="#3AB54B" needleType="rectangle">
                                    </e-pointer>
                                </e-pointers>
                                <e-ticks>
                                    <e-tick [height]="16" [width]="3" color="#FFFFFF">
                                    </e-tick>
                                    <e-tick [height]="7" [width]="1" color="#FFFFFF">
                                    </e-tick>
                                </e-ticks>
                                <e-ranges>
                                    <e-range [size]='10' [startValue]='0' [endValue]='449' backgroundColor='#3AB54B' border.color='#3AB54B'>
                                    </e-range>
                                    <e-range [size]='10' [startValue]='449' [endValue]='2200' backgroundColor='#B0D2C8' border.color='#B0D2C8'>
                                    </e-range>
                                </e-ranges>
                            </e-scale>
                        </e-scales>
                    </ej-circulargauge>
                    <br />
                    <label class="todaylabel rdilabel">Calories Intake - 450/2200</label>
                    <br />
                    <label class="pending todaylabel rdipenlabel">1750 calories pending</label>
                </div>
                <div class="col-sm-6 gauge2">
                    <ej-circulargauge #gaugeburntElement id="GaugeBurnt" height="155" width="170" frame.frameType="halfcircle" [distanceFromCorner]=-5
                        gaugePosition="bottomcenter" [isResponsive]="gaugeburntresponsive">
                        <e-scales>
                            <e-scale [showRanges]="true" majorIntervalValue="200" [minimum]="0" [maximum]="1000" pointerCap.radius="15" pointerCap.borderWidth="15"
                                pointerCap.backgroundColor="#b24848" pointerCap.borderColor="#b24848" [radius]="120" [startAngle]="182"
                                [sweepAngle]="176" [showLabels]="false">
                                <e-pointers>
                                    <e-pointer [length]="70" [width]="1" [value]="650" border.color="#b24848" needleType="rectangle">
                                    </e-pointer>
                                </e-pointers>
                                <e-ticks>
                                    <e-tick [height]='16' [width]='3' color='#FFFFFF'>
                                    </e-tick>
                                    <e-tick [height]='7' [width]='1' color='#FFFFFF'>
                                    </e-tick>
                                </e-ticks>
                                <e-ranges>
                                    <e-range [size]='10' [startValue]='0' [endValue]='649' backgroundColor='#b24848' border.color='#c98c8b'>
                                    </e-range>
                                    <e-range [size]='10' [startValue]='649' [endValue]='1000' backgroundColor='#C9A5A6' border.color='#C9A5A6'>
                                    </e-range>
                                </e-ranges>
                            </e-scale>
                        </e-scales>
                    </ej-circulargauge>
                    <br />
                    <label class="todaylabel">Calories burnt - 650/1000</label>
                    <br />
                    <label class="todaylabel pending">350 calories pending</label>
                </div>
            </div>
            <div class="col-md-6 ptiles">
                <div class="col-sm-6 chart1">
                    <div class="chartimage" id="StepChartDiv">
                        <ej-chart id="ChartStep" size.height="170" size.width="200" [legend.font]="chartsteplegendcolor" [legend.visible]="false"
                            [margin]="chartstepmargin">
                            <e-seriescollection>
                                <e-series name="Newyork" type="doughnut" [enableAnimation]="false" [doughnutCoefficient]=0.7 [doughnutSize]=0.9 border.color="#D3C1D4"
                                     [opacity]=0.8 [labelPosition]="inside">
                                    <e-points>
                                        <e-point x="Carbohydrate" [y]="10" fill="#D3C1D4" visible="true"></e-point>
                                        <e-point x="Fat" [y]="90" fill="#B26CAB" visible="true"></e-point>
                                    </e-points>
                                </e-series>
                            </e-seriescollection>
                            <e-annotations>
                                <e-annotation visible="chartstepvisible" content="stepAnnotation" region="series"></e-annotation>
                            </e-annotations>
                        </ej-chart>
                        <br />
                        <label class="todaylabel">Step - 90/100</label>
                        <br />
                        <label class="pending todaylabel">10 steps pending</label>
                    </div>
                </div>
                <div class="col-sm-6 chart2">
                    <div class="chartimage" id="FloorChartDiv">
                        <ej-chart id="ChartFloor" size.height="170" size.width="200" [legend.position]="bottom" [legend.font]="floorchartlegendfont" [legend.visible]="false" [margin.top]="0"
                            [margin.bottom]="0" [margin.right]="10" [margin.left]="10">
                            <e-seriescollection>
                                <e-series name="Newyork" type="doughnut" [enableAnimation]="false" [doughnutCoefficient]=0.7 [doughnutSize]=0.9 border.color="#BFBED9"
                                    [border.width]=1 [opacity]=0.8 [labelPosition]="inside">
                                    <e-points>
                                        <e-point x="Carbohydrate" [y]="6" fill="#7D70B3" visible="true"></e-point>
                                        <e-point x="Fat" [y]="4" fill="#BFBED9" visible="true"></e-point>
                                    </e-points>
                                </e-series>
                            </e-seriescollection>
                            <e-annotations>
                                <e-annotation visible="chartfloorvisible" content="floorAnnotation" region="series"></e-annotation>
                            </e-annotations>
                        </ej-chart>
                        <br/>
                        <label class="todaylabel">Floor - 4/10</label>
                        <br />
                        <label class="pending todaylabel">6 floors pending</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="topspace row">
            <div class="col-xs-6">
                <label class="titlecss">
                    Meal Summary
                </label>
            </div>
            <div class="addbutton col-xs-6" (click)="addfood($event)">
                <label class="addlabel">Add Meal</label>
                <img class="add" src="../../content/images/showcase/Add.png" />
            </div>
        </div>
        <div class="row" id="MealSummary">
            <div class="col-md-6 ptiles">
                <div class="chartimage1">
                    <ej-chart #chartelement id="Chart" style="width:100%;" size.height="270" [legend.visible]="false" [margin.top]="0" [margin.bottom]="0"
                        [margin.right]="0" [margin.left]="10" [isResponsive]="chartresponsive">
                        <e-seriescollection>
                            <e-series name="Newyork" type="doughnut" [doughnutSize]=0.9 [border.width]=1 [opacity]=0.8 labelPosition="outside" [marker.dataLabel.visible]="true"
                                [marker.dataLabel.font]="chartdatalabelfont">
                            </e-series>
                        </e-seriescollection>
                    </ej-chart>
                </div>
            </div>

            <div class="col-md-6 ptiles">
                <ej-grid #gridelement id="Grid" [summaryRows]="gridsummaryRows" [(dataSource)]="griddataSource" [showSummary]="true" [isResponsive]="gridresponse"
                    [enableAltRow]="false" [allowKeyboardNavigation]="true" [editSettings]="grideditSettings" gridLines=horizontal
                    (actionComplete)="actionComplete($event)" [enableResponsiveRow]="false">
                    <e-columns>
                        <e-column field="Time" headerText="TIME" [width]="70" textAlign="center" [validationRules]="gridvalidation"></e-column>
                        <e-column field="FoodName" headerText="FOOD" [width]="110" textAlign="center" [validationRules]="gridvalidation"></e-column>
                        <e-column field="Fat" headerText="FAT" [width]="60" textAlign="center" format="{0:N0}g" [validationRules]="gridvalidation"></e-column>
                        <e-column field="Carbohydrate" headerText="CARB" [width]="60" textAlign="center" format="{0:N0}g" [validationRules]="gridvalidation"></e-column>
                        <e-column field="Protein" headerText="PROTEIN" [width]="60" textAlign="center" format="{0:N0}g" [validationRules]="gridvalidation"
                            [priority]="4"></e-column>
                        <e-column field="Calorie" headerText="CALORIES" [width]="65" textAlign="center" format="{0:N0}cal" [validationRules]="gridvalidation"
                            [priority]="5"></e-column>
                        <e-column field="FoodId" [isPrimaryKey]="true" [visible]="false"></e-column>
                    </e-columns>
                </ej-grid>
            </div>
        </div>

        <div class="row topspace">
            <div class="col-xs-6 titlecss loadondemand" smart-scroller (reach)="renderControl($event)" >
                This Month
            </div>
        </div>
        <div id="HistoryDetails" class="row">
            <div class="col-md-6  chart3 burntCal loadondemand ptiles" smart-scroller (reach)="renderControl($event)">
                <ej-chart #chartBurntelement id="ChartBurnt" chartArea.border.width="1" [primaryXAxis.range.interval]=3 [primaryXAxis.range.min]=0
                    [primaryXAxis.range.max]=31 [primaryXAxis.majorGridLines.visible]="false" primaryXAxis.valueType="double"
                    primaryXAxis.rangePadding="none" primaryXAxis.columnIndex=0 primaryXAxis.font.fontStyle="bold" primaryXAxis.font.size="8px"
                    primaryXAxis.title.text="Days" [primaryXAxis.title.font]="chartXAxistitlefont" primaryXAxis.edgeLabelPlacement="hide"
                    primaryYAxis.rowIndex=0 primaryYAxis.rangePadding="none" [primaryYAxis.range.interval]=100 [primaryYAxis.range.min]=0
                    [primaryYAxis.range.max]=1200 primaryYAxis.title.text="Steps" [primaryYAxis.title.font]="chartYAxistitlefont"
                    primaryYAxis.font.fontStyle="bold" primaryYAxis.font.size="8px" primaryYAxis.valueType="double" size.height="500"
                    [commonSeriesOptions.tooltip.visible]="true" background="transparent" title.text="TOTAL STEPS" [isResponsive]="chartburntresponsive"
                    [initSeriesRender]="chartburntseriesrender">
                    <e-seriescollection>
                        <e-series name="Steps Moved" fill="#8CC640" [enableAnimation]="true" [(dataSource)]="burntChartdata" xName="XValue" yName="YValue"
                            tooltip.template="BurntTooltip">
                        </e-series>
                    </e-seriescollection>
                </ej-chart>
            </div>
            <div class="col-md-6 chart4 ptiles">
                <ej-chart #chartCalelement id="ChartCal" chartArea.border.width="1" primaryXAxis.edgeLabelPlacement="hide" primaryXAxis.title.text="Days"
                    [primaryXAxis.title.font]="chartCalXAxistitlefont" primaryXAxis.font.fontStyle="bold" primaryXAxis.font.size="8px"
                    [primaryXAxis.range.interval]=3 [primaryXAxis.range.min]=0 [primaryXAxis.range.max]=31 primaryXAxis.columnIndex=0
                    [primaryXAxis.majorGridLines.visible]="false" primaryXAxis.valueType="double" primaryXAxis.rangePadding="none"
                    primaryYAxis.rowIndex=0 primaryYAxis.rangePadding="none" [primaryYAxis.range.interval]=100 [primaryYAxis.range.min]=0
                    [primaryYAxis.range.max]=1200 primaryYAxis.title.text="Calorie" [primaryYAxis.title.font]="chartCalYAxistitlefont"
                    primaryYAxis.font.fontStyle="bold" primaryYAxis.font.size="8px" primaryYAxis.valueType="double" [commonSeriesOptions.type]="line"
                    [commonSeriesOptions.tooltip.visible]="true" [commonSeriesOptions.enableAnimation]="true" [commonSeriesOptions.marker.visible]="true" [commonSeriesOptions.marker.size]="chartCalsize"
                    background="transparent" title.text="CALORIES BURNT" size.height="500" [isResponsive]="chartcalresponsive"
                    [commonSeriesOptions.border.width]="2" [initSeriesRender]="chartcalseriesrender">
                    <e-seriescollection>
                        <e-series name="Calories Burnt" type='spline' fill='#24B7E5' [(dataSource)]="calChartdata" [enableAnimation]="true" xName="XValue"
                            yName="YValue" tooltip.template="CalTooltip">
                        </e-series>
                    </e-seriescollection>
                </ej-chart>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ptiles chart5">
                <ej-chart class="mealintake" #mealDetailelement id="MealDetails" chartArea.border.width="1" primaryXAxis.edgeLabelPlacement="hide"
                    primaryXAxis.title.text="Days" [primaryXAxis.title.font]="chartMealXAxistitlefont" [primaryXAxis.range.interval]=3
                    [primaryXAxis.range.min]=0 [primaryXAxis.range.max]=31 primaryXAxis.columnIndex=0 [primaryXAxis.majorGridLines.visible]="false"
                    primaryXAxis.valueType="double" primaryXAxis.rangePadding="none" primaryYAxis.rowIndex=0 primaryYAxis.rangePadding="none"
                    [primaryYAxis.range.interval]=100 [primaryYAxis.range.min]=0 [primaryYAxis.range.max]=1200 primaryYAxis.title.text="Cal"
                    [primaryYAxis.title.font]="chartMealYAxistitlefont" primaryYAxis.valueType="double" [commonSeriesOptions.tooltip.visible]="true"
                    background="transparent" title.text="MEAL INTAKE" size.height="500" [isResponsive]="mealdetailresponsive"
                    [initSeriesRender]="chartmealseriesrender">
                    <e-seriescollection>
                        <e-series name="Carb" type="column" [(dataSource)]="mealChartOpendata" fill="#8CAA55" [enableAnimation]="true" xName="XValue"
                            yName="YValue" tooltip.template="HydrateTooltip">
                        </e-series>
                        <e-series name="Protein" type="column" [(dataSource)]="mealChartClosedata" fill="#B34949" [enableAnimation]="true" xName="XValue"
                            yName="YValue" tooltip.template="ProteinTooltip">
                        </e-series>
                        <e-series name="Fat" type="column" [(dataSource)]="mealChartOpenClosedata" fill="#58A7C6" [enableAnimation]="true" xName="XValue"
                            yName="YValue" tooltip.template="FatTooltip">
                        </e-series>
                    </e-seriescollection>
                </ej-chart>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>

<div id="BurntTooltip" class="historytooltip">
    <div id="stepTool"></div>
    <div>
        <label id="burntmonth">May #point.x#</label><br />
        <label id="burntoday">#point.y#</label><label class="burntlabel">  steps</label>
    </div>
</div>
<div id="HydrateTooltip" class="historytooltip">
    <div>
        <div id="hydrateTool"></div>
        <label class="tooltiplabel">May #point.x#</label>
    </div>
    <div class="hydlabel">
        <label id="hydratemonth">Carb</label><br />
        <label id="hydrateday">#point.y# g</label>
    </div>
</div>
<div id="ProteinTooltip" class="historytooltip">
    <div>
        <div id="proteinTool"></div>
        <label class="tooltiplabel">May #point.x#</label>
    </div>
    <div class="proLabel">
        <label id="proteinmonth">Protein</label><br />
        <label id="proteinday">#point.y# g</label>
    </div>
</div>
<div id="FatTooltip" class="historytooltip">
    <div>
        <div id="fatTool"></div>
        <label class="tooltiplabel">May #point.x#</label>
    </div>
    <div class="fatLabel">
        <label id="fatmonth">Fat</label><br />
        <label id="fatday">#point.y# g</label>
    </div>
</div>
<div id="CalTooltip" class="historytooltip">
    <div class="caloriecalldiv">
        <span id="calday">#point.y# </span><span>cal</span>
    </div>
    <div class="caloriemonthdiv">
        <span id="calmonth">May #point.x#</span>
    </div>
</div>
<div id="stepAnnotation" style="display: none">
    <img style="width: 130px; height: 130px; padding:8px;" src="../../content/images/showcase/step.png" />
</div>
<div id="floorAnnotation" style="display: none">
    <img style="width: 130px; height: 130px; padding:8px;" src="../../content/images/showcase/floor.png" />
</div>
