div#sourcepopup_WaitingPopup.e-waitpopup-pane.e-widget{
    height: 100% !important;
    width: 100% !important;
}
span.e-image{
    top: 150px !important;
}
.header {
    background-color: black;
    overflow: hidden;
    width: 100%;
    color: lightblue;
    height: 100%;
}
