.stockanalysis ej-chart{
    display: block;
 }
.stockanalysis .stockheader {
    background-color: #B33D4D;
    height: 80px;
    width: 100%;
    margin-bottom:30px;
}
.stockanalysis .stockheaderimgLabel{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.stockanalysis .sampleimg > div {
    float: left;
}
.stockanalysis .stocktable{
    width:100%;
}
.stockanalysis .stocktable > tbody{
    background: none repeat scroll 0 0 white;
}
.stockanalysis .leftHeader {
    min-width: 300px;
}
@media only screen and (max-width:507px)  { 
   .stockanalysis .leftHeader{
       float:right;
        width: 100%;
    }
}
 .stockanalysis .ownname{
    color: white;
    font-size: 18px;
    line-height: 22px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 .stockanalysis .ownerdetails{
    float: right !important;
}
.stockanalysis .ownerdetails img{
    height: 70px;
    margin-top: 4px;
}
.stockanalysis .ownname > span{
    font-size: 14px;
}
.stockanalysis .sampletitle {
    background-color: #B33D4D;
    color: white;
    font-size: x-large;
    height: 80px;
    margin: 0 auto;
    max-width: 846px;
}
.stockanalysis .sampletitle{
    margin-bottom: 30px;
}
.stockanalysis .sampletitle label{
    top: 27px;
    font-size: 27px;
	left:-7px;
    position: relative;
	font-weight:400;
}
.stockanalysis .chartwrapper{
    margin: auto;
    max-width: 846px;
}
html, body {
    margin: 0;
    width: 100%;
}
.stockanalysis{
    background-color: #F9FAFC;
}
.stockanalysis .chartdetail {
    margin: 0 auto;
    max-width: 846px;
} 
.stockanalysis .stockstatus {
    margin-bottom: 13px;
    max-width: 846px;
    display:block; 
}
#stockdetailsPopupid_WaitingPopup .e-image{
    background-size: 40px;
    border: none;
    width: 44px;
    height: 37px;
    top: 21px !important;
}
.stockanalysis .row {
    margin-left: 0px !important;
}
.stockanalysis .stockImg {
    margin-top: 5px;
}
.stockanalysis td.ownname {
   padding-top: 5px;
}
.stockanalysis .ptiles{
    width: 209px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: white;
    border: 2px solid #EEEFEF;
    display: block;
    margin-left: 2Spx;
    margin-bottom: 10px;
}
.stockanalysis .titletab{
    display: block;
    margin-bottom: -1px;
}
.stockanalysis .ptext{
    color: #69A6D5;
    font-size: 23px;
    margin-left: 11%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.stockanalysis .titletab td{
    border: medium none !important;
    height: 30px;
    margin-top: 0;
}
table, table td, table th{
    border: 0px none;
    color: black;
}
.stockanalysis .stockstatus td{
    border: 2px solid #EEEFEF;
}
.stockanalysis .stockdetails{
    background-color: white;
    border: 2px solid #EEEFEF;
	margin-left:2px;
    margin-right:12px;
}
.stockanalysis .decrement, .stockanalysis .increment{
    color: #6A6A6A;
    font-size: 35px;
    font-weight: 400;
    display: block;
    padding: 10px;
    width: 93px;
}
.stockanalysis .down, .stockanalysis .up{
    display: inline-block;
    height: 35px;
    width: 100px;
}
.stockanalysis .uparrow{
    background: url(app/content/images/showcase/arrows_sprite.png) 3px -20px no-repeat scroll ;
    height:35px;
    margin-left: -5px;
}
.stockanalysis .downarrow {
    background: url(app/content/images/showcase/arrows_sprite.png) -2px 7px no-repeat scroll ;
    height:35px;
}
.stockanalysis .high :hover, .low :hover{
    background-color:transparent;
}
.stockanalysis .high_low{
    font-size: 14px;
    color: white;
}
.stockanalysis .high, .high_low{  
    background-color: #738345 !important;
    width: 100%;
}
.stockanalysis .low, .high_low{
    background-color: #B85657 !important;
}
.stockanalysis .arrow{
    background-attachment: scroll;
    background-image: url(app/content/images/showcase/arrows_sprite.png);
    background-repeat: no-repeat;
}
.stockanalysis .higharrow,.arrow{    
    background-position: 2px -80px;
}
.stockanalysis .lowarrow > span,.higharrow > span{
    margin-left: 22px;
}
.stockanalysis .lowarrow,.arrow{
    background-position: 2px -52px;
}
#stockdetailsPopupid_WaitingPopup.e-waitpopup-pane .e-image{
    background-size: 40px;
    border: none;
    width: 44px;
    height: 37px;
    top: 21px !important;
}
#stockdetailsPopupid_WaitingPopup.e-waitpopup-pane{
    background-color: transparent;
}
#hilopopup_WaitingPopup.e-waitpopup-pane {
     background-color: transparent;
}
#hilopopup_WaitingPopup.e-waitpopup-pane .e-image{
    background-color: transparent;
}
#hilopopup_WaitingPopup .e-image{
    top:110px !important;
}
.stockanalysis .tile{
    float:right;
    margin-top:20px;
}
.stockanalysis .changeyear{
    background-color: #D1D1D1;
    color: #797979;
    font-size: 14px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid #A0A0A0;  
}
.stockanalysis .yearlabel{
    margin-bottom: 15px;
    text-align: center;
}
.stockanalysis .changeyear:hover{
    background-color: #C0C0C0;
}
.stockanalysis .years{
    display: inline-block;
}
.stockanalysis .tooltipDivhiloOpenClose{
    background-color: #303030;
    border: 1px solid #727272;
    border-radius: 5px;
    font-family: segoe ui;
    font-size: 12px;
    font-weight: 600;    
}
.stockanalysis .vponits{
    padding-left: 18px;
}
#Tooltip{
    height: 110px;
	line-height:18px;
    width: 135px;
}
#Tooltip > table{
    border-spacing: 0;
    margin-left: 15px;
    margin-top: 8px;
}
.stockanalysis .tooltipDivhiloOpenClose td{
    color: white !important;
}
