<ej-pivotgrid id="PivotGrid1" [dataSource.data]="data" [dataSource.rows]="rows" [dataSource.columns]="columns" [dataSource.values]="values" [enableGroupingBar]="true" [enableRowGrandTotal]="false" >
</ej-pivotgrid>
<div id="property-window" class="box wide" style="width: 650px">
    <div class="row" style="margin-top: 20px">
        <table width="500px">
            <tr>
                <td class="col-md-3" style="width:150px"> Data Source </td>
                <td class="col-md-3" style="width:120px">
                    <input id="rdbRelational" type="radio" ej-radiobutton name="radio1" [checked]="true" value="relational" (ejchange)="renderPivotGrid($event)" /> Relational</td>
                <td class="col-md-3" style="width:120px">
                    <input id="rdbOlap" ej-radiobutton type="radio" name="radio1" value="olap" (ejchange)="renderPivotGrid($event)" /> OLAP</td>
            </tr>
        </table>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-3" style="width:192px"> Hide GrandTotal: </div>
        <div class="col-md-3" style="width:155px">
            <input id="hiderowgdtot" type="radio" ej-radiobutton name="radio2" [checked]="true" value="relational" (ejchange)="renderPivotGrid($event)" /> Row
        </div>
        <div class="col-md-3" style="width:120px">
            <input id="hidecolumngdtot" ej-radiobutton type="radio" name="radio2" value="olap" (ejchange)="renderPivotGrid($event)" /> Column
        </div>
        <div class="col-md-3" style="width:80px">
            <input id="hidegdtot" ej-radiobutton type="radio" name="radio2" value="olap" (ejchange)="renderPivotGrid($event)" /> Both
        </div>
    </div>
    <div class="row sourcefield" style="margin-top: 20px">
        <table width="500px">
            <tr>
                <td class="chkrad" class="col-md-3" style="width:210px">
                   Hide SubTotal:
                </td>
                <td class="chkrad" colspan="2">
                    <input id="dataValue" ej-dropdownlist  [dataSource]="dataValue" (ejchange)="onChange($event)" showCheckbox="true" [watermarkText]= "watermarkText" />
                </td>
            </tr>
        </table>
    </div>
</div>