<div style="width:600px; margin: 0 auto;">
	JavaScript(JS) is a high-level, dynamic, untyped, and interpreted programming language.It has been standardized in the
	<a>
		<ej-tooltip [content]="content">
			<u> ECMAScript </u>
		</ej-tooltip>
	</a>
	language specification.Alongside HTML and CSS, it is one of the three essential technologies of 
	<a>
		<ej-tooltip [content]="www" [position]="position">
			<u>World Wide Web</u>
		</ej-tooltip>
	</a> 
	content production;
	the majority of websites employ it and it is supported by all modern Web browsers without plug-ins. JS is prototype-based
	with first-class functions and supporting 
	<a>
		<ej-tooltip [content]="objectOriented" [position]="positionObj">
			<u>object-oriented</u>
		</ej-tooltip>
	</a>
	, imperative, and functional programming styles.

	<br />
	<h4><i>Note: Hover the link element to get Tooltip </i></h4>
</div>