<div style="text-align:center;">
    <div style="display:inline-block;">
        <div class="e-tile-group">
            <div class="e-tile-column">
                <ej-tile id="tile6" tileSize="medium" imagePosition="center" imageUrl='app/content/images/tile/windows/games.png' [caption]="caption1">
                </ej-tile>
                <div class="e-tile-small-col-2">
                    <ej-tile id="tile2" imagePosition="center" tileSize="small" imageUrl='app/content/images/tile/windows/alerts.png'>
                    </ej-tile>
                    <ej-tile id="tile3" imagePosition="center" [liveTile]="liveTile1" tileSize="small">
                    </ej-tile>
                    <ej-tile id="tile4" [liveTile]="liveTile2" tileSize="small">
                    </ej-tile>
                    <ej-tile id="tile5" tileSize="small" [badge]="badge1" imagePosition="center" imageUrl='app/content/images/tile/windows/messages.png'>
                    </ej-tile>
                </div>
                <ej-tile id="tile6" tileSize="medium" imagePosition="fill" [liveTile]="liveTile3" [caption]="caption2">
                </ej-tile>
                <ej-tile id="tile7" tileSize="medium" imagePosition="center" [liveTile]="liveTile4" [caption]="caption3">
                </ej-tile>
                <ej-tile id="tile8" tileSize="wide" imagePosition="center" [liveTile]="liveTile5" [caption]="caption4">
                </ej-tile>
            </div>
        </div>
    </div>
</div>