<div style="width:100%;height:100%;">
    <div class="content-container-fluid">
        <div class="row">
            <div class="listbox">
                <div class="cols-sample-area">
                    <div class="frame">
                        <div class="ctrllabel">Select your skill</div>
                        <ej-listbox id="selectcheck" [showCheckbox]="true" width="100%">
                            <li>ASP.NET</li>
                            <li>ActionScript</li>
                            <li>Basic</li>
                            <li>C++</li>
                            <li>C#</li>
                            <li>dBase</li>
                            <li>Delphi</li>
                            <li>ESPOL</li>
                            <li>F#</li>
                            <li>FoxPro</li>
                            <li>Java</li>
                            <li>J#</li>
                            <li>Lisp</li>
                            <li>Logo</li>
                            <li>PHP</li>
                        </ej-listbox>
                    </div>
                </div>
            </div>
        </div>
    </div>