       
 .row [class*="cols-"]:first-child > div:first-child {
    margin: 0 auto;
}
.listbox .frame {
    display: table;
    width: 500px;
    padding: 50px;
    height:300px;
}
.frame {
    border: 1px solid #BBBCBB;
    border-radius: 10px;
    color: #5C5C5C;
}
        .eimg {
            margin: 0;
            padding: 3px 10px 3px 3px;
            border: 0 none;
            width: 60px;
            height: 60px;
            float: left;
        }

        .ename {
            font-weight: 700;
            color: rebeccapurple;
            padding: 6px 3px 1px 3px;
        }

        .compname {
            font-weight: 500;
            color: brown;
            padding: 0px 3px 1px 3px;
            font-size: 12px;
        }

        .desig,
        .cont {
            font-size: 10px;
            padding-left: 4px;
        }

        .cont {
            float: right;
            bottom: -4px;
            position: relative;
        }
           .ctrllabel{
        font-weight: 600;
        margin-bottom: 8px;
    }