<div style="width:100%;height:100%;">
    <div class="content-container-fluid">
        <div class="row">
            <div class="listbox">
                <div class="cols-sample-area">
                    <div class="frame">
                        <div class="ctrllabel">Select an expert</div>
                        <div id="controlitem">
                            <ej-listbox id="selectExperts" width="100%" itemHeight="60" [dataSource]="dataManger" [query]="query" width="400px" [allowMultiSelection]="true" 
                                [allowVirtualScrolling]="true" [template]="template"></ej-listbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>