<div style="margin-left: 150px">
<ej-sunburstchart #sunburst id="sunburst" [dataSource]="Data1" valueMemberPath="EmployeesCount" [levels]="Level"  [dataLabelSettings.visible]="true"
		 [innerRadius]="0.2"
         [tooltip.visible]="true"
		 [size.height]="600" 
         title.text="Employees Count"
		 [zoomSettings.enable]="false"
         [legend.visible]="true"
         legend.position="top">          
</ej-sunburstchart>
</div>
<div class="panel-body">
   <div id="property-window" class="box wide">
    	     <div class="row">
                   <div class="col-md-3">
                    Start Angle
                   </div>					
                   <div class="col-md-3">
                     <div id="startAngle">
                 <ej-slider #startAngle id="startAngle" [sliderType]="minRange"  [value]="-90" [height]="16" [width]="110" [minValue]="-360" [maxValue]="360" [enableAnimation]="true" [incrementStep]="1" (ejchange)="onchange($event)"></ej-slider>
                    </div>
                   </div>
               <div class="col-md-3">
                    End Angle
                   </div>					
                   <div class="col-md-3">
                     <div id="endAngle">
<ej-slider #endAngle id="endAngle" [sliderType]="minRange"  [value]="-90" [height]="16" [width]="110" [minValue]="-360" [maxValue]="360" [enableAnimation]="true" [incrementStep]="1" (ejchange)="onchange($event)"></ej-slider>
                    </div>
                   </div>
               </div><br/>
			   <div class="row">
                   <div class="col-md-3">
                    Outer Radius
                   </div>					
                   <div class="col-md-3">
                     <div id="outerRadius">
<ej-slider #outerRadius id="outerRadius" [sliderType]="minRange"  [value]="-90" [height]="16" [width]="110" [minValue]="0" [maxValue]="1" [enableAnimation]="true" [incrementStep]="0.1" (ejchange)="onchange($event)"></ej-slider>
                    </div>
                   </div>
               <div class="col-md-3">
                    Inner Radius
                   </div>					
                   <div class="col-md-3">
                     <div id="innerRadius">
<ej-slider #innerRadius id="innerRadius" [sliderType]="minRange"  [value]="0" [height]="16" [width]="110" [minValue]="0" [maxValue]="1" [enableAnimation]="true" [incrementStep]="0.1" (ejchange)="onchange($event)"></ej-slider>
                    </div>
                   </div>
               </div><br/>
			   <div class="row">
                <div class="col-md-3">
                  Label Overflow Mode
					 </div>
                <div class="col-md-3 aligntop">
 <input id="overflow" ej-dropdownlist #overflow (select)="onchange1($event)" [selectedIndex]="0" [dataSource]="['Trim', 'Hide', 'None']" width="100%" />
                </div>
            <div class="col-md-3">
                    Label Rotation Mode
                </div>
                <div class="col-md-3 aligntop">
         <input id="rotation" ej-dropdownlist #rotation (select)="onchange2($event)" [selectedIndex]="0" [dataSource]="['Angle', 'Normal']" width="100%" />
                </div>
            </div>
 </div>
 </div>