<div style="margin-left: 150px">
<ej-sunburstchart #zooming id="zooming" [dataSource]="ZoomingData" valueMemberPath="EmployeesCount" [levels]="Level" [palette]="Palette" [dataLabelSettings.visible]="true"
            [innerRadius]="0.2"
            title.text="Employees Count"
            size.height="600"
			[tooltip.visible]="true"
            [enableAnimation]="true"
            [zoomSettings.enable]="true"
			[legend.visible]="false">          
</ej-sunburstchart>
</div>
<div class="panel-body">
   <div id="property-window" class="box wide">
   	    <div class="row">
                <div class="col-md-3">
                    Enable Zooming
                </div>
                <div class="col-md-3 aligntop">
       <ej-checkbox #zooming (ejchange)="onchange1($event)" [checked]="true"></ej-checkbox>
                </div>           
            </div>
 </div>
 </div>