<div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area" align="center">
                <div id="circularframe">
                    <div id="LengendCircularGauge">
                        <ej-circulargauge #gauge backgroundcolor="transparent" isresponsive=false value="80" width="500" [readOnly]="false" [enableAnimation]="false" [legend.visible]="true" [legend.size.width]="300" outerCustomLabelPosition="top">
    <e-scales>
        <e-scale [showRanges]="true" [labels]="labels" [border.width]="0.5" [startAngle]="122" [sweepAngle]="296" [radius]="130" [showScaleBar]="true" [size]="1" [maximum]="120" [majorIntervalValue]="20" [minorIntervalValue]="10" [customLabels]="customLabels">
            <e-pointers>
                <e-pointer [value]="60" [showBackNeedle]="true" [backNeedleLength]="20" [length]="80" [width]="7">
                </e-pointer>
            </e-pointers>
            <e-ticks>
                <e-tick type='major' [distanceFromScale]='2' [height]='16' [width]='1' color='#8c8c8c'>
                </e-tick>
                <e-tick type='minor' [distanceFromScale]='2' [height]='8' [width]='1' color='#8c8c8c'>
                </e-tick>
            </e-ticks>
            <e-labels>
                <e-label color="#8c8c8c">
                </e-label>
            </e-labels>
            <e-ranges>
                <e-range [distanceFromScale]='-30' [startValue]='0' [endValue]='5' legendText="Light air" backgroundColor='#ccffff' border.color='#ccffff'>
                </e-range>
				 <e-range [distanceFromScale]='-30' [startValue]='5' [endValue]='11' legendText="Light breeze" backgroundColor='#99ffff' border.color='#99ffff'>
                </e-range>
				<e-range [distanceFromScale]='-30' [startValue]='11' [endValue]='19' legendText="Gentle breeze" backgroundColor='#99ff99' border.color='#99ff99'>
                </e-range>
				<e-range [distanceFromScale]='-30' [startValue]='19' [endValue]='28' legendText="Moderate breeze" backgroundColor='#79ff4d' border.color='#79ff4d'>
                </e-range>
				<e-range [distanceFromScale]='-30' [startValue]='28' [endValue]='49' legendText="Strong breeze" backgroundColor='#c6ff1a' border.color='#c6ff1a'>
                </e-range>
				<e-range [distanceFromScale]='-30' [startValue]='49' [endValue]='74' legendText="Gale" backgroundColor='#e6ac00' border.color='#e6ac00'>
                </e-range>
				<e-range [distanceFromScale]='-30' [startValue]='74' [endValue]='102' legendText="Storm" backgroundColor='#ff6600' border.color='#ff6600'>
                </e-range>
				<e-range [distanceFromScale]='-30' [startValue]='102' [endValue]='120' legendText="Hurricane force" backgroundColor='#ff0000' border.color='#ff0000'>
                </e-range>
            </e-ranges>
        </e-scale>
    </e-scales>
</ej-circulargauge>
                    </div>
                </div>
            </div>

         <div id="property-window" class="box wide">
                <div class="prop-grid">
                    <div class="row">
                        <div class="col-md-3">
                            Position
                        </div>
                        <div class="col-md-3">
                            <input id="position" ej-dropdownlist #position (select)="onchange1($event)" [selectedIndex]="1" [dataSource]="['Top', 'Bottom', 'Left', 'Right']" width="50%" />
                        </div>
                        <div class="col-md-3">
                            Alignment
                        </div>
                        <div class="col-md-3">
                            <input id="alignment" ej-dropdownlist #alignment (select)="onchange2($event)" [selectedIndex]="1" [dataSource]="['Near', 'Center', 'Far']" width="50%" />
                        </div>
				    </div>
					<br/>
					<div class="row">
                        <div class="col-md-3">
                            Shape
                        </div>
                        <div class="col-md-3">
                            <input id="shape" ej-dropdownlist #shape (select)="onchange3($event)" [selectedIndex]="0" [dataSource]="['Circle', 'Diamond', 'Rectangle', 'Triangle', 'Slider', 'Wedge', 'Pentagon', 'Trapezoid', 'Line']" width="50%" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
