<div class="cols-sample-area" align="center">
<ej-circulargauge align="center" style="display:block;" id="pointer" backgroundColor="#e0e0e0" [enableAnimation]="false" [isResponsive]="false" [readOnly]="true" width="350" height="350" radius="40" (drawLabels)="drawLabels($event)" (drawPointers)="drawpointers($event)">
    <e-scales>
        <e-scale [showRanges]="true" [showTicks]="false" [customLabels]="customLabels" [indicators]="indicators" [showIndicators]="true" [border.width]="0.5" [startAngle]="120" [sweepAngle]="300" [radius]="80" [showScaleBar]="false" [size]="1" [maximum]="100"
            [majorIntervalValue]="10" [minorIntervalValue]="10">
            <e-pointers>
                <e-pointer type="marker" markerType="image" [value]="80" [distanceFromScale]="4" placement="far" backgroundColor="transparent" [length]="18" [width]="18" [border.width]="0" border.color="transparent" imageUrl="app/content/images/gauges/golfball.png">
                </e-pointer>
                <e-pointer type="marker" markerType="image" [value]="70" [distanceFromScale]="34" placement="far" backgroundColor="transparent" [length]="18" [width]="18" [border.width]="0" border.color="transparent" imageUrl="app/content/images/gauges/basketball.png">
                </e-pointer>
                <e-pointer type="marker" markerType="image" [value]="90" [distanceFromScale]="59" placement="far" backgroundColor="transparent" [length]="18" [width]="18" [border.width]="0" border.color="transparent" imageUrl="app/content/images/gauges/football.png">
                </e-pointer>
            </e-pointers>
            <e-labels>
                <e-label color="transparent">
                </e-label>
            </e-labels>
            <e-ranges>
                <e-range [distanceFromScale]="-36" [size]="15" [startValue]="0" [endValue]="80" backgroundColor="#bc4b4b" border.color="#bc4b4b" [border.width]="2">
                </e-range>
                <e-range [distanceFromScale]="-66" [size]="15" [startValue]="0" [endValue]="70" backgroundColor="#21a56f" border.color="#21a56f" [border.width]="2">
                </e-range>
                <e-range [distanceFromScale]="-95" [size]="15" [startValue]="0" [endValue]="90" backgroundColor="#2bafbc" border.color="#2bafbc" [border.width]="2">
                </e-range>
            </e-ranges>
        </e-scale>
    </e-scales>
</ej-circulargauge>
</div>