<ej-circulargauge id="SpeedGauge" style="margin-left:30%;" backgroundcolor="transparent" [isResponsive]=false outerCustomLabelPosition="left" width="400" [readOnly]="false" [enableAnimation]="false" (renderComplete)="complete($event)">
    <e-scales>
        <e-scale [showRanges]="true" [minorIntervalValue]="5" [radius]="140" [showScaleBar]="true" [size]="0.3" [customLabels]="customLabels">
            <e-pointers>
                <e-pointer [showBackNeedle]="true" [backNeedleLength]="20" [length]="90" [width]="8">
                </e-pointer>
            </e-pointers>
            <e-ticks>
                <e-tick type='major' [distanceFromScale]='2' [height]='16' [width]='1' color='#8c8c8c'>
                </e-tick>
                <e-tick type='minor' [distanceFromScale]='2' [height]='8' [width]='1' color='#8c8c8c'>
                </e-tick>
            </e-ticks>
            <e-labels>
                <e-label color="#8c8c8c">
                </e-label>
            </e-labels>
            <e-ranges>
                <e-range [distanceFromScale]='-30' [startValue]='0' [endValue]='50' border.color="#32b3c6">
                </e-range>
                <e-range [distanceFromScale]='-30' [startValue]='50' [endValue]='80' backgroundColor='#fc0606' border.color='#fc0606'>
                </e-range>
                <e-range [distanceFromScale]='-30' [startValue]='80' [endValue]='100' backgroundColor='#f5b43f' border.color='#f5b43f'>
                </e-range>
            </e-ranges>
        </e-scale>
    </e-scales>
</ej-circulargauge>