<div id="Tooltip" style="height: 60px; display: none;">
        <div id="icon">
            <div id="eficon"></div>
        </div>
        <div id="value">
            <div>
                <label id="efpercentage">&nbsp;#label#</label>
            </div>
        </div>
    </div>
 <style type="text/css">
        label{
		margin-bottom : -25px !important ;
		text-align :center !important;
		}
        .tooltipDiv {
            background-color:#E94649;        
            color: white;
        }
        #Tooltip >div:first-child {
            float: left;
        }
        #Tooltip #value {
            float: right;
            height: 50px;
            width: auto;
            font-stretch:condensed;
            text-align:left !important;
        }
        #Tooltip #value >div {
            margin: 5px 5px 5px 5px;
            text-align:left !important;
            
        }
        #Tooltip #efpercentage {
            font-size: 20px;
            font-family: segoe ui;
			padding-left: 2px;
            width:auto;
            font-stretch:condensed;
            text-align:left !important;
        }
         #Tooltip #ef {
             font-size: 12px;
             font-family: segoe ui;
             text-align:left !important;
        }
        #eficon {
            background-image: url("app/content/images/chart/eficon.png");
            height: 60px;
            width: 60px;
            background-repeat: no-repeat;
        }
    </style>
    <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area" align="center">
                <div id="linearframe">
                    <div id="CoreLinearGauge">
                         <ej-circulargauge #gauge backgroundcolor="transparent" [isResponsive]=false outerCustomLabelPosition="left" width="400" [readOnly]="false" [enableAnimation]="true"  [tooltip.showLabelTooltip]="true" [tooltip.showCustomLabelTooltip]="true"
                        tooltip.templateID="Tooltip">
    <e-scales>
        <e-scale [showRanges]="true" [labels]="labels" [border.width]="0.5" [startAngle]="122" [sweepAngle]="296" [radius]="130" [showScaleBar]="true" [size]="1" [maximum]="120" [majorIntervalValue]="20" [minorIntervalValue]="10" [customLabels]="customLabels">
            <e-pointers>
                <e-pointer [value]="60" [showBackNeedle]="true" [backNeedleLength]="20" [length]="95" [width]="7">
                </e-pointer>
            </e-pointers>
            <e-ticks>
                <e-tick type='major' [distanceFromScale]='2' [height]='16' [width]='1' color='#8c8c8c'>
                </e-tick>
                <e-tick type='minor' [distanceFromScale]='2' [height]='8' [width]='1' color='#8c8c8c'>
                </e-tick>
            </e-ticks>
            <e-labels>
                <e-label color="#8c8c8c" font.size="10px">
                </e-label>
            </e-labels>
            <e-ranges>
                <e-range [distanceFromScale]='-30' [startValue]='0' [endValue]='70' border.color="#32b3c6">
                </e-range>
                <e-range [distanceFromScale]='-30' [startValue]='70' [endValue]='110' backgroundColor='#fc0606' border.color='#fc0606'>
                </e-range>
                <e-range [distanceFromScale]='-30' [startValue]='110' [endValue]='120' backgroundColor='#f5b43f' border.color='#f5b43f'>
                </e-range>
            </e-ranges>
        </e-scale>
    </e-scales>
</ej-circulargauge>
                    </div>
                </div>
            </div>
             <div id="property-window" class="box wide">
                <div class="prop-grid">
                    <div class="row">
                        <div class="col-md-3">
                            Enable Label tooltip
                        </div>
                        <div class="col-md-3 aligntop">
                            <ej-checkbox #chkEnableLabelTooltip value="EnableAnimation" (ejchange)="onLabelTooltipChange($event)" [checked]="true"></ej-checkbox>
                        </div>
                        <div class="col-md-3">
                            Enable Custom Label tooltip
                        </div>
                        <div class="col-md-3 aligntop">
                            <ej-checkbox #chkEnableCustomLabelTooltip value="EnableCustomLabelTooltip" (ejchange)="onCustomLabelTooltipChange($event)" [checked]="true"></ej-checkbox>
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-md-3">
                            Enable tooltip template
                        </div>
                        <div class="col-md-3 aligntop">
                            <ej-checkbox #chkEnableTooltipTemplate value="EnableCustomLabelTooltip" (ejchange)="onTooltipTemplateChange($event)" [checked]="true"></ej-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>