<ej-circulargauge style="margin-left:30%;" backgroundcolor="transparent" isresponsive=false value="80" width="400" [readOnly]="false" [enableAnimation]="true">
    <e-scales>
        <e-scale [showRanges]="true" [labels]="labels" [border.width]="0.5" [startAngle]="122" [sweepAngle]="296" [radius]="130" [showScaleBar]="true" [size]="1" [maximum]="120" [majorIntervalValue]="20" [minorIntervalValue]="10">
            <e-pointers>
                <e-pointer [value]="60" [showBackNeedle]="true" [backNeedleLength]="20" [length]="90" [width]="7">
                </e-pointer>
            </e-pointers>
            <e-ticks>
                <e-tick type='major' [distanceFromScale]='2' [height]='16' [width]='1' color='#8c8c8c'>
                </e-tick>
                <e-tick type='minor' [distanceFromScale]='2' [height]='8' [width]='1' color='#8c8c8c'>
                </e-tick>
            </e-ticks>
            <e-labels>
                <e-label color="#8c8c8c">
                </e-label>
            </e-labels>
            <e-ranges>
                <e-range [distanceFromScale]='-30' [startValue]='0' [endValue]='70' border.color="#32b3c6">
                </e-range>
                <e-range [distanceFromScale]='-30' [startValue]='70' [endValue]='110' backgroundColor='#fc0606' border.color='#fc0606'>
                </e-range>
                <e-range [distanceFromScale]='-30' [startValue]='110' [endValue]='120' backgroundColor='#f5b43f' border.color='#f5b43f'>
                </e-range>
            </e-ranges>
        </e-scale>
    </e-scales>
</ej-circulargauge>

<h5 style="margin-left:30%;"> Hold and Drag the pointer needle to interact with it</h5>