<ej-lineargauge #ScaleGauge style="margin-left:40%;" labelColor="#8c8c8c" [scales]="scale" [readOnly]="true" [isResponsive]="false" [enableAnimation]="false" labelcolor="#8c8c8c">
</ej-lineargauge>
 <div id="property-window" class="box wide">
        <div class="prop-grid">
                    <div class="row">
                        <div class="col-md-3">
                            Scalebar Size
                        </div>
                        <div class="col-md-3 aligntop">
                            <div>
                                <ej-slider id="scalesize" [sliderType]="minRange"  [value]="7" [height]="20" [width]="110" [minValue]="5" [maxValue]="15" [enableAnimation]="true" (slide)="onChange($event)" (ejchange)="onChange($event)"></ej-slider>
                            </div>
                        </div>
                        <div class="col-md-3">
                            Scale Location X
                        </div>
                        <div class="col-md-3 aligntop">
                            <div>
                                <ej-slider id="locationX" [sliderType]="minRange"  [value]="51" [height]="20" [width]="110" [minValue]="48" [maxValue]="53" [enableAnimation]="true" (slide)="onChange($event)" (ejchange)="onChange($event)"></ej-slider>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3">
                            Scale Location Y
                        </div>
                        <div class="col-md-3 aligntop">
                            <div>
                                <ej-slider id="locationY" [sliderType]="minRange"  [value]="50" [height]="20" [width]="110" [minValue]="40" [maxValue]="55" [enableAnimation]="true" (slide)="onChange($event)" (ejchange)="onChange($event)"></ej-slider>
                            </div>
                        </div>
                        <div class="col-md-3">
                            Pointer Value
                        </div>
                        <div class="col-md-3 aligntop">
                            <div>
                                <ej-slider id="pointervalue" [sliderType]="minRange"  [value]="50" [height]="20" [width]="110" [minValue]="0" [maxValue]="100" [enableAnimation]="true" (slide)="onChange($event)" (ejchange)="onChange($event)"></ej-slider>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-3">
                            Scale Orientation
                        </div>
                        <div class="col-md-3">
                           <input id="bookSelect" ej-dropdownlist (select)="onChange($event)" [selectedIndex]="1" [dataSource]="data" width="100%" />
                        </div>

                    </div>

                </div>
  </div> 