<div id="Tooltip" style="height: 60px; display: none;">
        <div id="icon">
            <div id="eficon"></div>
        </div>
        <div id="value">
            <div>
                <label id="efpercentage">&nbsp;#label#</label>
            </div>
        </div>
    </div>
    <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area" align="center">
                <div id="linearframe">
                    <div id="CoreLinearGauge">
                         <ej-lineargauge #linearCore id="linearCore" [value]="50" [scales]="scale" [readOnly]="true" [isResponsive]="false" [maximum]="120" [enableAnimation]="false" labelcolor="#8c8c8c" [tooltip]="tooltip">
                          </ej-lineargauge>
                    </div>
                </div>
            </div>
             <div id="property-window" class="box wide">
                <div class="prop-grid">
                    <div class="row">
                        <div class="col-md-3">
                            Enable Label tooltip
                        </div>
                        <div class="col-md-3 aligntop">
                            <ej-checkbox #chkEnableLabelTooltip value="EnableAnimation" (ejchange)="onLabelTooltipChange($event)" [checked]="true"></ej-checkbox>
                        </div>
                        <div class="col-md-3">
                            Enable Custom Label tooltip
                        </div>
                        <div class="col-md-3 aligntop">
                            <ej-checkbox #chkEnableCustomLabelTooltip value="EnableCustomLabelTooltip" (ejchange)="onCustomLabelTooltipChange($event)" [checked]="true"></ej-checkbox>
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-md-3">
                            Enable tooltip template
                        </div>
                        <div class="col-md-3 aligntop">
                            <ej-checkbox #chkEnableTooltipTemplate value="EnableCustomLabelTooltip" (ejchange)="onTooltipTemplateChange($event)" [checked]="true"></ej-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<style type="text/css">
         #linearframe {
            background-position: 47% center;
        }

        label {
            margin-bottom: -25px !important;
            text-align: center !important;
        }

        .tooltipDiv {
            background-color: #E94649;
            color: white;
        }

        #Tooltip > div:first-child {
            float: left;
        }

        #Tooltip #value {
            float: right;
            height: 50px;
            width: auto;
            font-stretch: condensed;
            text-align: left !important;
        }

            #Tooltip #value > div {
                margin: 5px 5px 5px 5px;
                text-align: left !important;
            }

        #Tooltip #efpercentage {
            font-size: 20px;
            font-family: segoe ui;
            padding-left: 2px;
            width: auto;
            font-stretch: condensed;
            text-align: left !important;
        }

        #Tooltip #ef {
            font-size: 12px;
            font-family: segoe ui;
            text-align: left !important;
        }

        #eficon {
            background-image: url("app/content/images/chart/eficon.png");
            height: 60px;
            width: 60px;
            background-repeat: no-repeat;
        }
    </style>