<ej-grid [allowPaging]="true" [allowSorting]="true" [dataSource]="gridData" [showSummary]="true" [summaryRows]="summaryrows">
    <e-columns>
        <e-column field="OrderID" headertext="OrderID" width="80" textalign="right"></e-column>
        <e-column field="EmployeeID" headertext="EmployeeID" edittype="numericedit" width="30" width="80" textalign="right"></e-column>
        <e-column field="ShipCity" headertext="ShipCity" width="90"></e-column>
        <e-column field="ShipCountry" headertext="Ship Country" width="100"></e-column>
        <e-column field="Freight" headertext="Freight" width="80" format="{0:C}" textalign="right"></e-column>
    </e-columns>
</ej-grid>