<div id="parent" style="height:300px; position:relative; overflow:hidden;">
    <input id="btnOpen" style="display:none; height: 30px" type="button" class="ejinputtext" value="Click to open Dialog" (click)="onClick($event)"
    />
    <ej-dialog id="basicDialog" title="Facebook" [(enableResize)]="resize" containment="#parent" (close)="onClose($event)">
        Facebook is an online social networking service headquartered in Menlo Park, California. Its website was launched on February
        4, 2004, by Mark Zuckerberg with his Harvard College roommates and fellow students Eduardo Saverin, Andrew McCollum,
        Dustin Moskovitz and Chris Hughes. The founders had initially limited the website's membership to Harvard students,
        but later expanded it to colleges in the Boston area, the Ivy League, and Stanford University. It gradually added
        support for students at various other universities and later to high-school students.
    </ej-dialog>
	<style>
	#basicDialog{
	display:block;
	}
	</style>
</div>
