<div id="parent" style="height:600px; position:relative;">
    <div class="multi-control" style="height:600px;">
        <ej-dialog id="Dialog1" title="London" minWidth="215" minHeight="135" containment="#parent" [position]="dialog1Position">
            <p>
                London, one of the most popular tourist destinations in the world for a reason. A cultural and historical hub, London has
                an excellent public transportation system that allows visitors to see all the fantastic sights without spending
                a ton of money on a rental car. London contains four World Heritage Sites.
            </p>
        </ej-dialog>
        <ej-dialog id="Dialog2" title="Paris" minWidth="215" minHeight="135" containment="#parent" [position]="dialog2Position">
            <p>
                Paris, the city of lights and love - this short guide is full of ideas for how to make the most of the romanticism that oozes
                from every one of its beautiful corners.You couldn't possibly visit Paris without seeing the Eiffel Tower.
                Even if you do not want to visit this world famous structure, you will see its top from all over Paris.
            </p>
        </ej-dialog>
        <ej-dialog id="Dialog3" title="Rome" minWidth="215" minHeight="135" containment="#parent" [position]="dialog3Position">
            <p>
                Rome, one of the world's most fascinating cities. The old adage that Rome was not built in a day - and that you won't see
                it in one or even in three - is true. For the intrepid traveler who can keep pace, here is a list of must-sees.
                But remember what the Romans say: Even a lifetime isn't enough to see Rome.
            </p>
        </ej-dialog>
		<style>
	#Dialog1,#Dialog2,#Dialog3{
	display:block;
	}
	</style>
    </div>
</div>