<ej-bulletgraph style="display:block;margin-left:20%;" captionSettings.text="Revenue YTD" captionSettings.textPosition="right" captionSettings.subTitle.textPosition="right"
  [isResponsive]="false" captionSettings.subTitle.text="$ in Thousands">
  <e-qualitativeranges>
    <e-qualitativerange rangeEnd="4.3">
    </e-qualitativerange>
    <e-qualitativerange rangeEnd="7.3">
    </e-qualitativerange>
    <e-qualitativerange rangeEnd="10">
    </e-qualitativerange>
  </e-qualitativeranges>
  <e-quantitativescalesettings-featuremeasures>
    <e-quantitativescalesettings-featuremeasure value="8" comparativeMeasureValue="6.7">
    </e-quantitativescalesettings-featuremeasure>
  </e-quantitativescalesettings-featuremeasures>
</ej-bulletgraph>