<div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area" align="center">
                <div id="BulletGraph1">
                    <ej-bulletgraph #bullet id="bullet" style="display:block" align="center" [quantitativeScaleLength]="475" [height]="400" [qualitativeRangeSize]="range" [isResponsive]="false" [captionSettings]="caption" [quantitativeScaleSettings]="quantitativescale">         
     <e-qualitativeranges>
         <e-qualitativerange rangeEnd="4.3">
         </e-qualitativerange>
         <e-qualitativerange rangeEnd="7.3">
         </e-qualitativerange>
         <e-qualitativerange rangeEnd="10">
         </e-qualitativerange>
     </e-qualitativeranges>        
</ej-bulletgraph>
                </div>
            </div>
  <div id="property-window" class="box wide">
                <div class="prop-grid">
                    <div class="row">
                        <div class="col-md-3">
                            Symbol shape
                        </div>
                        <div class="col-md-3">
                            <input id="markerType" ej-dropdownlist #markerType (select)="onchange($event)" [selectedIndex]="8" [dataSource]="data" width="100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
 
