 <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div id="Div1">
                    <ej-bulletgraph id="bullet" #bullet style="display:block" align="center" [height]="650" [width]="650" [qualitativeRangeSize]="range" [isResponsive]="false" [captionSettings]="caption" [value]="8" [comparativeMeasureValue]="5" [quantitativeScaleSettings]="quantitativescale">         
                        </ej-bulletgraph>
                </div>
            </div>

            <div id="property-window" class="box wide">
                <div class="prop-grid">
                    <div class="row">
                        <div class="col-md-3">
                            Direction
                        </div>
                        <div class="col-md-3">
                            <input id="markerType" ej-dropdownlist #markerType (select)="BulletFlow($event)" [selectedIndex]="0" [dataSource]="['forward', 'backward']" width="100%" />
                            </div>
                        <div class="col-md-3">
                            Orientation
                        </div>
                        <div class="col-md-3">
                            <input id="Text1" ej-dropdownlist #markerType (select)="BulletOrientation($event)" [selectedIndex]="0" [dataSource]="['horizontal', 'vertical']" width="100%" />
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-md-3">
                            Tick Position
                        </div>
                        <div class="col-md-3">
                            <input id="Text2" ej-dropdownlist #markerType (select)="BulletTickPos($event)" [selectedIndex]="0" [dataSource]="['far', 'center', 'near']" width="100%" />
                        </div>
                        <div class="col-md-3">
                            Tick Placement
                        </div>
                        <div class="col-md-3">
                            <input id="Text3" ej-dropdownlist #markerType (select)="BulletTickPlacement($event)" [selectedIndex]="0" [dataSource]="['outside', 'inside']" width="100%" />
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-md-3">
                            Label Position
                        </div>
                        <div class="col-md-3">
                            <input id="Text4" ej-dropdownlist #markerType (select)="BulletLabelPosition($event)" [selectedIndex]="0" [dataSource]="['below', 'above']" width="100%" />
                        </div>
                        <div class="col-md-3">
                            Label Placement
                        </div>
                        <div class="col-md-3">
                            <input id="Text5" ej-dropdownlist #markerType (select)="BulletLabelPlacement($event)" [selectedIndex]="0" [dataSource]="['outside', 'inside']" width="100%" />
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-md-3">
                            Label Offset
                        </div>
                        <div class="col-md-3" style="height:15px" id="">
                            <ej-slider #slider id="slider" [sliderType]="minRange"  [value]="10" [height]="20" [width]="110" [minValue]="-85" [maxValue]="25" [enableAnimation]="true" (ejchange)="BulletLabelOffset($event)"></ej-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>