 <ej-bulletgraph id="local" style="display:block" align="center" [height]="400" [qualitativeRangeSize]="range" [isResponsive]="false" [captionSettings]="caption" [quantitativeScaleSettings]="quantitativescale">         
     <e-qualitativeranges>
         <e-qualitativerange rangeEnd="4.3">
         </e-qualitativerange>
         <e-qualitativerange rangeEnd="7.3">
         </e-qualitativerange>
         <e-qualitativerange rangeEnd="10">
         </e-qualitativerange>
     </e-qualitativeranges>        
</ej-bulletgraph>