 <ej-bulletgraph #remote id="remote" style="display:block" flowDirection="backward" orientation="vertical" align="center" [height]="540" [qualitativeRangeSize]="range" [isResponsive]="false" [captionSettings]="caption" [quantitativeScaleSettings]="quantitativescale" (load)="onLoad($event)">         
     <e-qualitativeranges>
         <e-qualitativerange rangeEnd="25">
         </e-qualitativerange>
         <e-qualitativerange rangeEnd="37">
         </e-qualitativerange>
         <e-qualitativerange rangeEnd="45">
         </e-qualitativerange>
     </e-qualitativeranges>        
</ej-bulletgraph>